<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyu_e_lightning_fullscreen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1018},{226,226}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,13},{226,226}}</string>
                <key>sourceSize</key>
                <string>{448,252}</string>
            </dict>
            <key>buyu_e_lightning_fullscreen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1018},{226,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,13},{226,226}}</string>
                <key>sourceSize</key>
                <string>{448,252}</string>
            </dict>
            <key>buyu_e_lightning_fullscreen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,764},{448,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,252}}</string>
                <key>sourceSize</key>
                <string>{448,252}</string>
            </dict>
            <key>buyu_e_lightning_fullscreen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{316,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{316,252}}</string>
                <key>sourceSize</key>
                <string>{448,252}</string>
            </dict>
            <key>buyu_e_lightning_fullscreen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{448,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,252}}</string>
                <key>sourceSize</key>
                <string>{448,252}</string>
            </dict>
            <key>buyu_e_lightning_fullscreen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,510},{448,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,252}}</string>
                <key>sourceSize</key>
                <string>{448,252}</string>
            </dict>
            <key>buyu_e_lightning_fullscreen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{448,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,252}}</string>
                <key>sourceSize</key>
                <string>{448,252}</string>
            </dict>
            <key>buyu_e_lightning_fullscreen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,256},{448,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,252}}</string>
                <key>sourceSize</key>
                <string>{448,252}</string>
            </dict>
            <key>buyu_e_lightning_fullscreen_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{448,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,252}}</string>
                <key>sourceSize</key>
                <string>{448,252}</string>
            </dict>
            <key>buyu_e_lightning_fullscreen_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{448,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,252}}</string>
                <key>sourceSize</key>
                <string>{448,252}</string>
            </dict>
            <key>buyu_e_lightning_fullscreen_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,252}}</string>
                <key>sourceSize</key>
                <string>{448,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buyu_e_lightning_fullscreen.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d726dd8ce69352de92272cc328dd499$</string>
            <key>textureFileName</key>
            <string>buyu_e_lightning_fullscreen.png</string>
        </dict>
    </dict>
</plist>
