<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish14_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{95,114}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{95,114}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
            <key>fish14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,118},{113,118}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{113,118}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
            <key>fish14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{119,114}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{119,114}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
            <key>fish14_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{123,116}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,116}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
            <key>fish14_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{113,114}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{113,114}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
            <key>fish14_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{91,128}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
            <key>fish14_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,406},{75,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{75,112}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
            <key>fish14_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,290},{75,112}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{75,112}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
            <key>fish14_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,290},{55,114}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{55,114}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
            <key>fish14_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,233},{55,116}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{55,116}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
            <key>fish14_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{75,116}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{75,116}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish14.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d450f2e4e28624de70d3bb57a3a7049$</string>
            <key>textureFileName</key>
            <string>fish14.png</string>
        </dict>
    </dict>
</plist>
