<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish6_d_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,105}</string>
                <key>spriteSourceSize</key>
                <string>{76,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_d_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{76,105}</string>
                <key>textureRect</key>
                <string>{{79,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_d_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{62,87}</string>
                <key>spriteSourceSize</key>
                <string>{76,105}</string>
                <key>textureRect</key>
                <string>{{153,1},{62,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish6_d.png</string>
            <key>size</key>
            <string>{216,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d53b506ceae9dd3922955bb5f11ca703:c008a1d445fced4029a968e0e54a213c:73ee6e91019c0836c0741c3abbb90b4a$</string>
            <key>textureFileName</key>
            <string>fish6_d.png</string>
        </dict>
    </dict>
</plist>
