<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diff_28_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,66}</string>
                <key>spriteSourceSize</key>
                <string>{29,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{29,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diff_28_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,66}</string>
                <key>spriteSourceSize</key>
                <string>{29,66}</string>
                <key>textureRect</key>
                <string>{{1,69},{29,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diff_28_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,66}</string>
                <key>spriteSourceSize</key>
                <string>{29,66}</string>
                <key>textureRect</key>
                <string>{{1,137},{29,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diff_28_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,66}</string>
                <key>spriteSourceSize</key>
                <string>{29,66}</string>
                <key>textureRect</key>
                <string>{{1,205},{29,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diff_28_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,66}</string>
                <key>spriteSourceSize</key>
                <string>{29,66}</string>
                <key>textureRect</key>
                <string>{{1,273},{29,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diff_28_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,66}</string>
                <key>spriteSourceSize</key>
                <string>{29,66}</string>
                <key>textureRect</key>
                <string>{{1,341},{29,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish1.png</string>
            <key>size</key>
            <string>{31,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d643bb8813f6645cf2fa617c6ecdae77:e356ef31850660ad0c5e8effa240d920:342b1f1a1a162ded6a285a652e0ccb97$</string>
            <key>textureFileName</key>
            <string>fish1.png</string>
        </dict>
    </dict>
</plist>
