<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish10_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{103,133}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,848},{103,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{103,133}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,953},{103,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{113,131}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,1904},{113,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{125,131}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,1777},{125,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{137,131}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,1638},{137,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{143,131}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,1352},{143,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{145,131}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,1058},{145,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{145,131}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,1205},{145,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{139,131}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,1497},{139,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{131,135}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,1},{131,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{129,135}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,134},{129,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{127,135}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,265},{127,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,394},{123,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{111,135}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,519},{111,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{105,133}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,741},{105,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{107,133}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{1,632},{107,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish10.png</string>
            <key>size</key>
            <string>{137,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5550daf4cd7f7ac3ed76e7b128ba972:6880f88bdeffbbcb8b5ee8dea6321499:93302a3ee37615c593aef099dbd7c22a$</string>
            <key>textureFileName</key>
            <string>fish10.png</string>
        </dict>
    </dict>
</plist>
