<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish17_d_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{86,220}</string>
                <key>spriteSourceSize</key>
                <string>{92,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_d_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,220}</string>
                <key>spriteSourceSize</key>
                <string>{92,220}</string>
                <key>textureRect</key>
                <string>{{1,223},{84,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_d_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{80,206}</string>
                <key>spriteSourceSize</key>
                <string>{92,220}</string>
                <key>textureRect</key>
                <string>{{1,445},{80,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish17_d_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{80,198}</string>
                <key>spriteSourceSize</key>
                <string>{92,220}</string>
                <key>textureRect</key>
                <string>{{1,653},{80,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish17_d.png</string>
            <key>size</key>
            <string>{88,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bba93c924d8168f7d4074e346fe4df9:c893a0d4e0e3c6b77d687809d67798e0:3e236e32943fad0b39741dea842b8bab$</string>
            <key>textureFileName</key>
            <string>fish17_d.png</string>
        </dict>
    </dict>
</plist>
