<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish10_d_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,135}</string>
                <key>spriteSourceSize</key>
                <string>{108,135}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_d_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{94,119}</string>
                <key>spriteSourceSize</key>
                <string>{108,135}</string>
                <key>textureRect</key>
                <string>{{1,634},{94,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_d_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{90,101}</string>
                <key>spriteSourceSize</key>
                <string>{108,135}</string>
                <key>textureRect</key>
                <string>{{1,542},{90,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_d_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{108,135}</string>
                <key>textureRect</key>
                <string>{{1,138},{104,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_d_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{98,103}</string>
                <key>spriteSourceSize</key>
                <string>{108,135}</string>
                <key>textureRect</key>
                <string>{{1,442},{98,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10_d_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{104,93}</string>
                <key>spriteSourceSize</key>
                <string>{108,135}</string>
                <key>textureRect</key>
                <string>{{1,347},{104,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10_d_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{104,101}</string>
                <key>spriteSourceSize</key>
                <string>{108,135}</string>
                <key>textureRect</key>
                <string>{{1,244},{104,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish10_d.png</string>
            <key>size</key>
            <string>{110,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d94681245ebf2f6193f813403c0ddf4a:b2e4e9f68b75ecd5dbc558bc0f1c56ce:9b9f207189b5acdc2eb88db30759a54a$</string>
            <key>textureFileName</key>
            <string>fish10_d.png</string>
        </dict>
    </dict>
</plist>
