<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish12_d_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{152,144}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1,473},{152,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_d_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{154,150}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1,321},{154,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12_d_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{158,156}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish12_d_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{158,156}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1,161},{158,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish16_d.png</string>
            <key>size</key>
            <string>{158,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cf41e372725c43738915b2589d9f544:1239244a750362360aea5e9a0b6a6b9f:8c092b5f0fbb22f202842e086a777167$</string>
            <key>textureFileName</key>
            <string>fish16_d.png</string>
        </dict>
    </dict>
</plist>
