<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish26_d_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,677},{299,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,251}}</string>
                <key>sourceSize</key>
                <string>{299,251}</string>
            </dict>
            <key>fish26_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,696},{298,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,248}}</string>
                <key>sourceSize</key>
                <string>{298,248}</string>
            </dict>
            <key>fish26_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,930},{295,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,240}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>fish26_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1171},{293,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,231}}</string>
                <key>sourceSize</key>
                <string>{293,231}</string>
            </dict>
            <key>fish26_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{290,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,222}}</string>
                <key>sourceSize</key>
                <string>{290,222}</string>
            </dict>
            <key>fish26_d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1187},{293,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,218}}</string>
                <key>sourceSize</key>
                <string>{293,218}</string>
            </dict>
            <key>fish26_d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{290,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,222}}</string>
                <key>sourceSize</key>
                <string>{290,222}</string>
            </dict>
            <key>fish26_d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1172},{293,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,230}}</string>
                <key>sourceSize</key>
                <string>{293,230}</string>
            </dict>
            <key>fish26_d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,946},{294,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,239}}</string>
                <key>sourceSize</key>
                <string>{294,239}</string>
            </dict>
            <key>fish26_d_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{296,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,247}}</string>
                <key>sourceSize</key>
                <string>{296,247}</string>
            </dict>
            <key>fish26_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{299,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,251}}</string>
                <key>sourceSize</key>
                <string>{299,251}</string>
            </dict>
            <key>fish26_d_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,428},{301,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,247}}</string>
                <key>sourceSize</key>
                <string>{301,247}</string>
            </dict>
            <key>fish26_d_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,211},{304,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,234}}</string>
                <key>sourceSize</key>
                <string>{304,234}</string>
            </dict>
            <key>fish26_d_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,206},{308,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,220}}</string>
                <key>sourceSize</key>
                <string>{308,220}</string>
            </dict>
            <key>fish26_d_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{314,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,207}}</string>
                <key>sourceSize</key>
                <string>{314,207}</string>
            </dict>
            <key>fish26_d_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{314,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,202}}</string>
                <key>sourceSize</key>
                <string>{314,202}</string>
            </dict>
            <key>fish26_d_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,207}}</string>
                <key>sourceSize</key>
                <string>{314,207}</string>
            </dict>
            <key>fish26_d_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{306,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,220}}</string>
                <key>sourceSize</key>
                <string>{306,220}</string>
            </dict>
            <key>fish26_d_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{302,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,234}}</string>
                <key>sourceSize</key>
                <string>{302,234}</string>
            </dict>
            <key>fish26_d_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,447},{300,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,247}}</string>
                <key>sourceSize</key>
                <string>{300,247}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish26_d.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59d72147b0386bf23766303aad35b427$</string>
            <key>textureFileName</key>
            <string>fish26_d.png</string>
        </dict>
    </dict>
</plist>
