<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish7_d_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,124}</string>
                <key>spriteSourceSize</key>
                <string>{50,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_d_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{50,112}</string>
                <key>spriteSourceSize</key>
                <string>{50,124}</string>
                <key>textureRect</key>
                <string>{{1,127},{50,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_d_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{50,94}</string>
                <key>spriteSourceSize</key>
                <string>{50,124}</string>
                <key>textureRect</key>
                <string>{{1,241},{50,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish7_d.png</string>
            <key>size</key>
            <string>{52,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1e97e61afffe6f904b5df3afc366bb8:d971e2380b4a227a85bcbddb3f350d1b:57bc587943f57365ff1dc29729a00f2e$</string>
            <key>textureFileName</key>
            <string>fish7_d.png</string>
        </dict>
    </dict>
</plist>
