<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yupan_shandian_huang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{138,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yupan_shandian_huang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,278},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,82},{136,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yupan_shandian_huang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,142},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,82},{136,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yupan_shandian_huang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,140},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,82},{136,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yupan_shandian_huang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,82},{136,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yupan_shandian_huang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{138,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yupan_shandian_huang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{138,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>yupan_shandian_huang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{138,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yupan06.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fb5ea5b0b132987bed2b301f54e430d$</string>
            <key>textureFileName</key>
            <string>yupan06.png</string>
        </dict>
    </dict>
</plist>
