<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oldfish14_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{472,240}}</string>
                <key>offset</key>
                <string>{18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,146},{472,240}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{468,244}}</string>
                <key>offset</key>
                <string>{16,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,141},{468,244}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{460,246}}</string>
                <key>offset</key>
                <string>{13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,140},{460,246}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,752},{456,246}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,143},{456,246}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,502},{448,248}}</string>
                <key>offset</key>
                <string>{7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,148},{448,248}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{444,248}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,153},{444,248}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{442,248}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,161},{442,248}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,252},{446,248}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,165},{446,248}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_oldfishs_10.png</string>
            <key>size</key>
            <string>{920,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8ad44d2abdbe4f8241ea26245420a9d:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_oldfishs_10.png</string>
        </dict>
    </dict>
</plist>
