<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oldfish15_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,200}}</string>
                <key>offset</key>
                <string>{55,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,141},{484,200}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{470,192}}</string>
                <key>offset</key>
                <string>{47,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,139},{470,192}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,392},{450,196}}</string>
                <key>offset</key>
                <string>{27,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,136},{450,196}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,590},{446,208}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,131},{446,208}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,196},{458,194}}</string>
                <key>offset</key>
                <string>{46,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,131},{458,194}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{432,244}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,146},{432,244}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{382,288}}</string>
                <key>offset</key>
                <string>{-10,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,137},{382,288}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{348,244}}</string>
                <key>offset</key>
                <string>{-29,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,184},{348,244}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,590},{416,182}}</string>
                <key>offset</key>
                <string>{5,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,232},{416,182}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,800},{432,186}}</string>
                <key>offset</key>
                <string>{13,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,285},{432,186}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_oldfishs_13.png</string>
            <key>size</key>
            <string>{1018,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9158db533a06879e2e5c41f53874ccd9:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_oldfishs_13.png</string>
        </dict>
    </dict>
</plist>
