<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oldfish15_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,728},{436,220}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,131},{436,220}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,488},{434,238}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,130},{434,238}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{426,260}}</string>
                <key>offset</key>
                <string>{11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,130},{426,260}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{388,272}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,131},{388,272}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{380,258}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,134},{380,258}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,262},{402,224}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,140},{402,224}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{432,204}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,142},{432,204}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
            <key>oldfish15_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,198}}</string>
                <key>offset</key>
                <string>{43,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,143},{460,198}}</string>
                <key>sourceSize</key>
                <string>{600,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_oldfishs_12.png</string>
            <key>size</key>
            <string>{866,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:539d84e9c3712580f5541abeb19096a6:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_oldfishs_12.png</string>
        </dict>
    </dict>
</plist>
