<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oldfish13_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{408,302}}</string>
                <key>offset</key>
                <string>{37,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{408,302}}</string>
                <key>sourceSize</key>
                <string>{500,460}</string>
            </dict>
            <key>oldfish13_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,612},{414,302}}</string>
                <key>offset</key>
                <string>{39,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,71},{414,302}}</string>
                <key>sourceSize</key>
                <string>{500,460}</string>
            </dict>
            <key>oldfish13_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,302}}</string>
                <key>offset</key>
                <string>{40,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{420,302}}</string>
                <key>sourceSize</key>
                <string>{500,460}</string>
            </dict>
            <key>oldfish13_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{416,304}}</string>
                <key>offset</key>
                <string>{42,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,71},{416,304}}</string>
                <key>sourceSize</key>
                <string>{500,460}</string>
            </dict>
            <key>oldfish13_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,306},{410,304}}</string>
                <key>offset</key>
                <string>{39,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,71},{410,304}}</string>
                <key>sourceSize</key>
                <string>{500,460}</string>
            </dict>
            <key>oldfish13_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{414,306}}</string>
                <key>offset</key>
                <string>{42,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,70},{414,306}}</string>
                <key>sourceSize</key>
                <string>{500,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_oldfishs_6.png</string>
            <key>size</key>
            <string>{834,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fea41187b83d823ff259edcf7d8d89df:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_oldfishs_6.png</string>
        </dict>
    </dict>
</plist>
