<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oldfish09_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,724},{138,120}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,66},{138,120}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,472},{142,120}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,66},{142,120}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,472},{142,120}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,66},{142,120}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,846},{136,118}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,68},{136,118}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,350},{142,120}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,68},{142,120}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,228},{142,120}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{142,120}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,718},{138,118}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{138,118}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,350},{142,120}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{142,120}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,228},{142,120}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{142,120}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,846},{136,120}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,67},{136,120}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,724},{140,120}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,67},{140,120}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,724},{142,120}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,66},{142,120}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,594},{128,120}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,75},{128,120}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,846},{132,116}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,69},{132,116}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,846},{132,114}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,73},{132,114}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,594},{140,122}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,75},{140,122}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,594},{132,122}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,60},{132,122}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,512},{194,210}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,22},{194,210}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{224,240}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,13},{224,240}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish09_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,252}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,9},{242,252}}</string>
                <key>sourceSize</key>
                <string>{300,274}</string>
            </dict>
            <key>oldfish12_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,256},{254,196}}</string>
                <key>offset</key>
                <string>{21,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,196},{254,196}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{248,216}}</string>
                <key>offset</key>
                <string>{20,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,211},{248,216}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{252,216}}</string>
                <key>offset</key>
                <string>{28,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,237},{252,216}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{246,216}}</string>
                <key>offset</key>
                <string>{25,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,237},{246,216}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{246,222}}</string>
                <key>offset</key>
                <string>{25,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,231},{246,222}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_oldfishs_2.png</string>
            <key>size</key>
            <string>{816,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4efcc162f6eb97d88af0bfec33ef82e:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_oldfishs_2.png</string>
        </dict>
    </dict>
</plist>
