<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,157},{82,83}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{82,83}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{76,99}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,30},{76,99}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,97}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,33},{100,97}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,80},{98,75}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{98,75}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{74,91}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{74,91}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{76,99}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,30},{76,99}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,97}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,33},{100,97}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,80},{98,75}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{98,75}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coinRotation.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2652fad41f0b101286fc195a7a5beb5:1/1$</string>
            <key>textureFileName</key>
            <string>coinRotation.png</string>
        </dict>
    </dict>
</plist>
