<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,791},{71,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>hs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{71,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>hs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{71,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>hs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{71,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>pkp_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,735},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,780},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,840},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,900},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b14.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,960},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b16.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,735},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b17.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,168},{29,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,164}}</string>
                <key>sourceSize</key>
                <string>{29,164}</string>
            </dict>
            <key>pkp_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,780},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,840},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,900},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,780},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,840},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,735},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,780},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_bqdizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,870},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>pkp_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{169,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,233}}</string>
                <key>sourceSize</key>
                <string>{169,233}</string>
            </dict>
            <key>pkp_dabeimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,173},{169,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,233}}</string>
                <key>sourceSize</key>
                <string>{169,233}</string>
            </dict>
            <key>pkp_dabeimian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{169,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,233}}</string>
                <key>sourceSize</key>
                <string>{169,233}</string>
            </dict>
            <key>pkp_dabeimian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{169,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,233}}</string>
                <key>sourceSize</key>
                <string>{169,233}</string>
            </dict>
            <key>pkp_dabeimian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{168,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,233}}</string>
                <key>sourceSize</key>
                <string>{168,233}</string>
            </dict>
            <key>pkp_dabeimian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,514},{168,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,233}}</string>
                <key>sourceSize</key>
                <string>{168,233}</string>
            </dict>
            <key>pkp_dabeimian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,233}}</string>
                <key>sourceSize</key>
                <string>{169,233}</string>
            </dict>
            <key>pkp_jokerda.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,685},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>pkp_jokerxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>pkp_paibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,344},{168,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,233}}</string>
                <key>sourceSize</key>
                <string>{168,233}</string>
            </dict>
            <key>pkp_r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,971},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,911},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,971},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,851},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r14.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,911},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r16.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,735},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r17.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{29,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,164}}</string>
                <key>sourceSize</key>
                <string>{29,164}</string>
            </dict>
            <key>pkp_r18.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,684},{49,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,118}}</string>
                <key>sourceSize</key>
                <string>{49,118}</string>
            </dict>
            <key>pkp_r19.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,684},{49,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,118}}</string>
                <key>sourceSize</key>
                <string>{49,118}</string>
            </dict>
            <key>pkp_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,791},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,851},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,930},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,791},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,870},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,941},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,941},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_poker.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12ad6ef6cfb571eb596c8a4165061869:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_poker.png</string>
        </dict>
    </dict>
</plist>
