<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cf-pzhmj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,122}</string>
                <key>spriteSourceSize</key>
                <string>{518,122}</string>
                <key>textureRect</key>
                <string>{{0,0},{518,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cfmj-dt-logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,122}</string>
                <key>spriteSourceSize</key>
                <string>{392,122}</string>
                <key>textureRect</key>
                <string>{{518,0},{392,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hl-dt-logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,122}</string>
                <key>spriteSourceSize</key>
                <string>{404,122}</string>
                <key>textureRect</key>
                <string>{{910,0},{404,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo-dt-klbyx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,122}</string>
                <key>spriteSourceSize</key>
                <string>{430,122}</string>
                <key>textureRect</key>
                <string>{{1314,0},{430,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo-dt-xlyx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,122}</string>
                <key>spriteSourceSize</key>
                <string>{430,122}</string>
                <key>textureRect</key>
                <string>{{0,122},{430,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo-tiantianti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,122}</string>
                <key>spriteSourceSize</key>
                <string>{332,122}</string>
                <key>textureRect</key>
                <string>{{430,122},{332,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo-tuanyuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,122}</string>
                <key>spriteSourceSize</key>
                <string>{392,122}</string>
                <key>textureRect</key>
                <string>{{762,122},{392,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wdmj-dt-logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,122}</string>
                <key>spriteSourceSize</key>
                <string>{518,122}</string>
                <key>textureRect</key>
                <string>{{1154,122},{518,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>halllogo.png</string>
            <key>size</key>
            <string>{1744,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:219f9d273013b51500b7cea2727a9273:eb792347b45a7dbd7a9742ad8c75e761:94fbc46740d7b2792389fdd3358d2607$</string>
            <key>textureFileName</key>
            <string>halllogo.png</string>
        </dict>
    </dict>
</plist>
