<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cf-pzhmj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,122}</string>
                <key>spriteSourceSize</key>
                <string>{518,122}</string>
                <key>textureRect</key>
                <string>{{0,208},{518,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cfmj-dt-logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,122}</string>
                <key>spriteSourceSize</key>
                <string>{392,122}</string>
                <key>textureRect</key>
                <string>{{518,208},{392,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl-logo_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,106}</string>
                <key>spriteSourceSize</key>
                <string>{388,106}</string>
                <key>textureRect</key>
                <string>{{0,102},{388,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl-logoklb_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,102}</string>
                <key>spriteSourceSize</key>
                <string>{426,102}</string>
                <key>textureRect</key>
                <string>{{0,0},{426,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl-logoklb_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,102}</string>
                <key>spriteSourceSize</key>
                <string>{426,102}</string>
                <key>textureRect</key>
                <string>{{426,0},{426,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_logo_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,106}</string>
                <key>spriteSourceSize</key>
                <string>{388,106}</string>
                <key>textureRect</key>
                <string>{{388,102},{388,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hl-dt-logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,122}</string>
                <key>spriteSourceSize</key>
                <string>{404,122}</string>
                <key>textureRect</key>
                <string>{{0,330},{404,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo-tiantianti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,122}</string>
                <key>spriteSourceSize</key>
                <string>{332,122}</string>
                <key>textureRect</key>
                <string>{{404,330},{332,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo-tuanyuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,122}</string>
                <key>spriteSourceSize</key>
                <string>{392,122}</string>
                <key>textureRect</key>
                <string>{{0,452},{392,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wdmj-dt-logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,122}</string>
                <key>spriteSourceSize</key>
                <string>{518,122}</string>
                <key>textureRect</key>
                <string>{{392,452},{518,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loginlogo.png</string>
            <key>size</key>
            <string>{910,574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef4f51177e2b5d51e26ea90c66da55e4:6da83780e48b8b708a042725ebba693a:9c75502b57885cace33ec13db4fc74e2$</string>
            <key>textureFileName</key>
            <string>loginlogo.png</string>
        </dict>
    </dict>
</plist>
