<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qznn_e_kuangglow02_chang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,173},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,173},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,686},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,686},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,515},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,515},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,344},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
            <key>qznn_e_kuangglow02_chang_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,344},{300,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_robgame_ani.png</string>
            <key>size</key>
            <string>{908,857}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b275c43f569a3def6dffd7a0a5b7bb9$</string>
            <key>textureFileName</key>
            <string>p_robgame_ani.png</string>
        </dict>
    </dict>
</plist>
