
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
#native
#//////////////////////////
# NPM
#//////////////////////////
#node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

packages/
#script_tools/
.DS_Store

#build-246/
build-246/jsb-default/src/
build-246/jsb-default/assets/
build-246/jsb-default/main.js
build-246/jsb-default/js backups (useful for debugging)/
build-246/jsb-default/frameworks/runtime-src/proj.ios_mac/
build-246/jsb-default/frameworks/runtime-src/proj.win32/
build-246/jsb-default/frameworks/runtime-src/proj.android-studio/app/.externalNativeBuild/
build-246/jsb-default/frameworks/runtime-src/proj.android-studio/app/build/
build-246/jsb-default/frameworks/runtime-src/proj.android-studio/app/.idea/

*.pyc

build-246/web-mobile/
build-246/web-mobile.zip