<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{169,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,233}}</string>
                <key>sourceSize</key>
                <string>{169,233}</string>
            </dict>
            <key>hs_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>hs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,69},{69,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{69,71}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>hs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{67,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{67,73}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>hs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{65,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{65,75}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>pkp_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,92},{41,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{41,50}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,47},{43,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,47},{43,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,54}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,472},{33,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{33,52}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,118},{41,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,233}}</string>
                <key>sourceSize</key>
                <string>{169,233}</string>
            </dict>
            <key>pkp_r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,71},{41,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{41,50}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{43,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{43,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,54}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{33,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{33,52}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>pkp_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,75},{41,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db54e605456c6eca7b59feb64b2438ae:1/1$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
