<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>danxuananniuguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>danxuananniukai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{54,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tanchuguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{138,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{138,46}}</string>
                <key>sourceSize</key>
                <string>{142,46}</string>
            </dict>
            <key>tanchukai.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,58},{138,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{138,44}}</string>
                <key>sourceSize</key>
                <string>{142,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ba3ccf27aeb9f1e1fe240d423a9869d:1/1$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
