<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt_myzl_font_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{93,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,33}}</string>
                <key>sourceSize</key>
                <string>{93,33}</string>
            </dict>
            <key>dt_myzl_font_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,72},{122,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,33}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
            <key>dt_myzl_font_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,72},{121,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,33}}</string>
                <key>sourceSize</key>
                <string>{121,33}</string>
            </dict>
            <key>dt_myzl_font_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,72},{122,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,33}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
            <key>dt_myzl_font_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,37},{92,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{92,33}</string>
            </dict>
            <key>dt_myzl_font_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,196},{122,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,33}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
            <key>dt_myzl_font_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,72},{122,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,33}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
            <key>dt_myzl_font_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,37},{122,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,33}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
            <key>dt_myzl_font_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,72},{121,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,33}}</string>
                <key>sourceSize</key>
                <string>{121,33}</string>
            </dict>
            <key>dt_myzl_font_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{122,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,33}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
            <key>dt_myzl_font_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,72},{117,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,33}}</string>
                <key>sourceSize</key>
                <string>{117,33}</string>
            </dict>
            <key>dt_myzl_font_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,33}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
            <key>dt_myzl_font_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,33}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fortune_weel.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b14b87b2f638de761dc0947d6fa7ac54:1/1$</string>
            <key>textureFileName</key>
            <string>fortune_weel.png</string>
        </dict>
    </dict>
</plist>
