<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{0,0},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{235,0},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{470,0},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{705,0},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{940,0},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{1175,0},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{1410,0},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{1645,0},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{0,208},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{235,208},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{470,208},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{705,208},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{940,208},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{1175,208},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{1410,208},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{1645,208},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{0,416},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{235,416},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{470,416},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{705,416},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{940,416},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{235,208}</string>
                <key>textureRect</key>
                <string>{{1175,416},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{1880,624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa07af2976294ba6f39dc31c5546df4d:1eebb7b1a2971b024ac9f7be05d047ed:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
