<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pc_qznn_img_yxqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,40},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>qznn_img_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,35},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>zsdn_bg_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,93},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zsdn_bg_information_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{233,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,118}}</string>
                <key>sourceSize</key>
                <string>{233,118}</string>
            </dict>
            <key>zsdn_bg_information_mh.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,318},{235,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,119}}</string>
                <key>sourceSize</key>
                <string>{235,119}</string>
            </dict>
            <key>zsdn_bg_information_ms.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,501},{158,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,167}}</string>
                <key>sourceSize</key>
                <string>{158,167}</string>
            </dict>
            <key>zsdn_bg_information_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,470},{156,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,166}}</string>
                <key>sourceSize</key>
                <string>{156,166}</string>
            </dict>
            <key>zsdn_bg_jine.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,8},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>zsdn_bg_kd.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,339},{159,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,129}}</string>
                <key>sourceSize</key>
                <string>{159,129}</string>
            </dict>
            <key>zsdn_bg_knd.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,182},{250,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,66}}</string>
                <key>sourceSize</key>
                <string>{250,66}</string>
            </dict>
            <key>zsdn_bg_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,26},{46,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{46,57}</string>
            </dict>
            <key>zsdn_bg_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,26},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>zsdn_bg_set_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{110,48}</string>
            </dict>
            <key>zsdn_bg_set_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,26},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{110,48}</string>
            </dict>
            <key>zsdn_bg_yxks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{737,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{737,188}}</string>
                <key>sourceSize</key>
                <string>{737,188}</string>
            </dict>
            <key>zsdn_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,193},{139,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,66}}</string>
                <key>sourceSize</key>
                <string>{139,66}</string>
            </dict>
            <key>zsdn_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,34},{48,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,113}}</string>
                <key>sourceSize</key>
                <string>{48,113}</string>
            </dict>
            <key>zsdn_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,182},{139,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,66}}</string>
                <key>sourceSize</key>
                <string>{139,66}</string>
            </dict>
            <key>zsdn_btn_gx.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,20},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>zsdn_btn_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,133},{69,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>zsdn_btn_more_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,109},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>zsdn_btn_more_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,93},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>zsdn_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,229},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>zsdn_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,161},{139,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,66}}</string>
                <key>sourceSize</key>
                <string>{139,66}</string>
            </dict>
            <key>zsdn_btn_yellow_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,250},{183,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,66}}</string>
                <key>sourceSize</key>
                <string>{183,66}</string>
            </dict>
            <key>zsdn_btn_yq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{75,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,139}}</string>
                <key>sourceSize</key>
                <string>{75,139}</string>
            </dict>
            <key>zsdn_btn_yq_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,250},{87,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,152}}</string>
                <key>sourceSize</key>
                <string>{87,152}</string>
            </dict>
            <key>zsdn_icon_turn_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,77},{114,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,54}}</string>
                <key>sourceSize</key>
                <string>{114,54}</string>
            </dict>
            <key>zsdn_icon_turn_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,64},{114,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,54}}</string>
                <key>sourceSize</key>
                <string>{114,54}</string>
            </dict>
            <key>zsdn_img_biankuang_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{240,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,125}</string>
            </dict>
            <key>zsdn_img_biankuang_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,501},{163,171}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,171}}</string>
                <key>sourceSize</key>
                <string>{163,173}</string>
            </dict>
            <key>zsdn_img_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,76},{317,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,48}}</string>
                <key>sourceSize</key>
                <string>{317,48}</string>
            </dict>
            <key>zsdn_img_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,439},{183,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,142}}</string>
                <key>sourceSize</key>
                <string>{183,142}</string>
            </dict>
            <key>zsdn_img_dbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{214,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,57}}</string>
                <key>sourceSize</key>
                <string>{214,57}</string>
            </dict>
            <key>zsdn_img_diaos.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,15},{34,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>zsdn_img_fengex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,4}}</string>
                <key>sourceSize</key>
                <string>{428,4}</string>
            </dict>
            <key>zsdn_img_fengex_bq.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>zsdn_img_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,377},{377,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,122}}</string>
                <key>sourceSize</key>
                <string>{377,122}</string>
            </dict>
            <key>zsdn_img_jsg_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{181,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,65}}</string>
                <key>sourceSize</key>
                <string>{181,65}</string>
            </dict>
            <key>zsdn_img_jsg_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,126},{181,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,65}}</string>
                <key>sourceSize</key>
                <string>{181,65}</string>
            </dict>
            <key>zsdn_img_kb.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,126},{54,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,294}}</string>
                <key>sourceSize</key>
                <string>{54,294}</string>
            </dict>
            <key>zsdn_img_liuqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>zsdn_img_liusu.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,8},{30,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,84}}</string>
                <key>sourceSize</key>
                <string>{30,84}</string>
            </dict>
            <key>zsdn_img_lt_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,26},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>zsdn_img_lt_xianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,229},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{75,83}}</string>
                <key>sourceSize</key>
                <string>{83,91}</string>
            </dict>
            <key>zsdn_img_qp_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,55},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>zsdn_img_qp_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,271},{248,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,104}}</string>
                <key>sourceSize</key>
                <string>{248,104}</string>
            </dict>
            <key>zsdn_img_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,8},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>zsdn_img_tg.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,26},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>zsdn_img_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,40},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>zsdn_num_jiesuanb_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{24,15}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{24,15}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuanb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuanb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{16,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{16,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuanb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuanb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{22,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuanb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,8},{24,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuanb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{22,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuanb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuanb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,2},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuanb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuanb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuany_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{24,27}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{24,27}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuany_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,8},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuany_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{16,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{16,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuany_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,8},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuany_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,8},{22,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuany_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,8},{24,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuany_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,8},{22,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuany_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuany_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuany_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_num_jiesuany_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>zsdn_tf_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,202},{122,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,67}}</string>
                <key>sourceSize</key>
                <string>{122,67}</string>
            </dict>
            <key>zsdn_tf_yh.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,26},{47,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,64}}</string>
                <key>sourceSize</key>
                <string>{47,64}</string>
            </dict>
            <key>zsdn_txt_wan_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,20},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,38}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>zsdn_txt_wan_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,19},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,38}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>zsdn_txt_xsd_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{11,16}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>zsdn_txt_xsd_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{11,16}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_robcowgamescene.png</string>
            <key>size</key>
            <string>{1023,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5614d8c72319259877ed80375c3b783a$</string>
            <key>textureFileName</key>
            <string>p_robcowgamescene.png</string>
        </dict>
    </dict>
</plist>
