<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyu_buff_bigBoom01.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,980},{383,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,84},{383,360}}</string>
                <key>sourceSize</key>
                <string>{517,528}</string>
            </dict>
            <key>buyu_buff_bigBoom02.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1342},{363,382}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,63},{363,382}}</string>
                <key>sourceSize</key>
                <string>{517,528}</string>
            </dict>
            <key>buyu_buff_bigBoom03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{357,352}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{357,352}}</string>
                <key>sourceSize</key>
                <string>{517,528}</string>
            </dict>
            <key>buyu_buff_bigBoom04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{449,414}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,44},{449,414}}</string>
                <key>sourceSize</key>
                <string>{517,528}</string>
            </dict>
            <key>buyu_buff_bigBoom05.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,509},{469,486}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{469,486}}</string>
                <key>sourceSize</key>
                <string>{517,528}</string>
            </dict>
            <key>buyu_buff_bigBoom06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{463,510}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{463,510}}</string>
                <key>sourceSize</key>
                <string>{517,528}</string>
            </dict>
            <key>buyu_buff_bigBoom07.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{505,488}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{505,488}}</string>
                <key>sourceSize</key>
                <string>{517,528}</string>
            </dict>
            <key>buyu_buff_bigBoom08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{505,526}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{505,526}}</string>
                <key>sourceSize</key>
                <string>{517,528}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buyu_buff_bigBoom.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63938eda820b6092f67722e30417af45$</string>
            <key>textureFileName</key>
            <string>buyu_buff_bigBoom.png</string>
        </dict>
    </dict>
</plist>
