<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish2_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,57},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,113},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,169},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,225},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,281},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,337},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,393},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,337},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,281},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,225},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,449},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,113},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,57},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{1,505},{24,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish2.png</string>
            <key>size</key>
            <string>{26,560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7531903619300267fda7584e25e8fd30:eb28c6ede70372d649c948d9329e3e1a:18d6e4b02826357f29e30fc69e5f3b7c$</string>
            <key>textureFileName</key>
            <string>fish2.png</string>
        </dict>
    </dict>
</plist>
