<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish4_d_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{54,95}</string>
                <key>spriteSourceSize</key>
                <string>{62,105}</string>
                <key>textureRect</key>
                <string>{{1,197},{54,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_d_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{60,101}</string>
                <key>spriteSourceSize</key>
                <string>{62,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4_d_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{58,91}</string>
                <key>spriteSourceSize</key>
                <string>{62,105}</string>
                <key>textureRect</key>
                <string>{{1,104},{58,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish4_d.png</string>
            <key>size</key>
            <string>{62,293}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:508b4534bbdeaa4e86eac4a1f7f7cfbf:1198389f49347380ad448e8accd156d9:64db7eb69d7098d43909ecf00be86359$</string>
            <key>textureFileName</key>
            <string>fish4_d.png</string>
        </dict>
    </dict>
</plist>
