<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish7_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{113,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{167,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{221,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{275,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{329,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{383,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{437,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{491,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{545,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,118}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1247,1},{52,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,118}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1301,1},{52,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,118}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1355,1},{52,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,118}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1409,1},{52,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{599,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{653,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{707,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{761,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{815,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{869,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{923,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{977,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1031,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1085,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{113,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{167,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{221,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{275,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{329,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{383,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{437,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{491,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{545,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,118}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1247,1},{52,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,118}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1301,1},{52,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,118}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1355,1},{52,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,118}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1409,1},{52,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{599,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{653,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{707,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{761,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{815,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{869,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{923,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{977,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1031,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1085,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1139,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{57,1},{54,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{56,116}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1697,1},{56,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{56,114}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1871,1},{56,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish7_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{56,114}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1871,59},{56,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish7_052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{58,114}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1811,1},{58,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{58,116}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1517,1},{58,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{58,116}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1577,1},{58,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{58,116}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1637,1},{58,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{54,116}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1755,1},{54,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{52,118}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1463,1},{52,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1193,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7_059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,120}</string>
                <key>spriteSourceSize</key>
                <string>{58,120}</string>
                <key>textureRect</key>
                <string>{{1193,1},{52,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish7.png</string>
            <key>size</key>
            <string>{1986,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9e3c6eabdcfa4ce2256e835d6c58163:4eeb172eab235cf13877f87c0c8aeec9:e1d69afd8a12d672623181966961c751$</string>
            <key>textureFileName</key>
            <string>fish7.png</string>
        </dict>
    </dict>
</plist>
