<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish4_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{60,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{307,1},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{409,1},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{511,1},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{613,1},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{715,1},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{817,1},{62,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{917,1},{62,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{1017,1},{62,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{1117,1},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{1,63},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{103,63},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{205,63},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{307,65},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{409,65},{62,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{509,65},{62,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{609,65},{62,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{709,65},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{811,65},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{913,65},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{1015,65},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{1117,65},{62,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{60,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{103,1},{60,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{60,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{205,1},{60,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish4.png</string>
            <key>size</key>
            <string>{1218,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bda643314b62a1350e7f1b08b672892e:4c123a29abd5d2ccdaebf8351581514e:2af43c67d0c2319006d263334dca0639$</string>
            <key>textureFileName</key>
            <string>fish4.png</string>
        </dict>
    </dict>
</plist>
