<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish8_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{381,1},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish8_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{72,126}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{379,223},{72,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish8_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{72,126}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{303,263},{72,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{72,126}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{377,297},{72,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish8_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{74,128}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{229,133},{74,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{74,128}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{305,1},{74,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{74,130}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{229,1},{74,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,132}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,132}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{1,135},{74,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,132}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{1,269},{74,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,132}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{77,1},{74,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,132}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{77,135},{74,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,132}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{77,269},{74,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,132}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{153,1},{74,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,132}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{153,135},{74,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,132}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{153,269},{74,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{72,130}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{229,263},{72,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{381,75},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish8_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{305,131},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{74,132}</string>
                <key>textureRect</key>
                <string>{{379,149},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish8.png</string>
            <key>size</key>
            <string>{510,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cbee204af07c1eff6c616bbea3e7692:2c418cb8ab9c0cb17e114c2dbbd95d6c:09c34b7262caf05c834f0282eb0a1152$</string>
            <key>textureFileName</key>
            <string>fish8.png</string>
        </dict>
    </dict>
</plist>
