<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish13_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{86,220}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{657,145},{86,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{84,220}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{223,143},{84,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,220}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{879,149},{86,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{86,216}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{1101,151},{86,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{86,214}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{1319,157},{86,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{84,210}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{445,145},{84,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{80,208}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{1473,75},{80,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{76,204}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{1267,73},{76,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-8}</string>
                <key>spriteSize</key>
                <string>{74,204}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{1061,73},{74,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-8}</string>
                <key>spriteSize</key>
                <string>{72,204}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{1537,1},{72,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{72,204}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{1,65},{72,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{70,204}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{1111,1},{70,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-7}</string>
                <key>spriteSize</key>
                <string>{72,206}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{207,65},{72,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{72,210}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{415,69},{72,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{72,214}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{627,71},{72,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{72,216}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{843,71},{72,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{70,218}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{1317,1},{70,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{68,220}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{667,1},{68,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{66,220}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{445,1},{66,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{62,220}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{62,220}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{223,1},{62,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,220}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{889,1},{68,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{80,220}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{1,139},{80,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish13_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{86,220}</string>
                <key>spriteSourceSize</key>
                <string>{88,220}</string>
                <key>textureRect</key>
                <string>{{1535,157},{86,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish17.png</string>
            <key>size</key>
            <string>{1756,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b912368299585700dbb08709df1632ca:3ad35f27db3141c7c8c7bd9db31bb25d:ebe65095414f9a69d45d0be1bd8d76fb$</string>
            <key>textureFileName</key>
            <string>fish17.png</string>
        </dict>
    </dict>
</plist>
