<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{104,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{1,597},{104,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{1,89},{104,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{1,175},{104,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{104,82}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{1,261},{104,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{104,82}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{1,345},{104,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{104,82}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{1,429},{104,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{104,82}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{1,513},{104,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{1,771},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,90}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{1,679},{102,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish15.png</string>
            <key>size</key>
            <string>{106,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5534a1a893315e821a9ad313bcd4080b:336b1b1aa3b4a2b82e49305d55e8f04f:c065125437a6ec0ea637ce3e58baaf06$</string>
            <key>textureFileName</key>
            <string>fish15.png</string>
        </dict>
    </dict>
</plist>
