<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish19_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{249,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,207}}</string>
                <key>sourceSize</key>
                <string>{249,207}</string>
            </dict>
            <key>fish19_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,209},{255,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,206}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>fish19_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,206}}</string>
                <key>sourceSize</key>
                <string>{258,206}</string>
            </dict>
            <key>fish19_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{258,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,205}}</string>
                <key>sourceSize</key>
                <string>{258,205}</string>
            </dict>
            <key>fish19_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{256,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,205}}</string>
                <key>sourceSize</key>
                <string>{256,205}</string>
            </dict>
            <key>fish19_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{251,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,204}}</string>
                <key>sourceSize</key>
                <string>{251,204}</string>
            </dict>
            <key>fish19_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{246,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,204}}</string>
                <key>sourceSize</key>
                <string>{246,204}</string>
            </dict>
            <key>fish19_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{240,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,204}}</string>
                <key>sourceSize</key>
                <string>{240,204}</string>
            </dict>
            <key>fish19_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{232,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,204}}</string>
                <key>sourceSize</key>
                <string>{232,204}</string>
            </dict>
            <key>fish19_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,627},{225,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,204}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>fish19_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1039},{221,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,204}}</string>
                <key>sourceSize</key>
                <string>{221,204}</string>
            </dict>
            <key>fish19_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{219,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,204}}</string>
                <key>sourceSize</key>
                <string>{219,204}</string>
            </dict>
            <key>fish19_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1040},{220,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,204}}</string>
                <key>sourceSize</key>
                <string>{220,204}</string>
            </dict>
            <key>fish19_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,834},{223,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,204}}</string>
                <key>sourceSize</key>
                <string>{223,204}</string>
            </dict>
            <key>fish19_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,833},{223,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,204}}</string>
                <key>sourceSize</key>
                <string>{223,204}</string>
            </dict>
            <key>fish19_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,833},{221,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,205}}</string>
                <key>sourceSize</key>
                <string>{221,205}</string>
            </dict>
            <key>fish19_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1037},{221,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,205}}</string>
                <key>sourceSize</key>
                <string>{221,205}</string>
            </dict>
            <key>fish19_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,625},{225,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,206}}</string>
                <key>sourceSize</key>
                <string>{225,206}</string>
            </dict>
            <key>fish19_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,626},{232,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,206}}</string>
                <key>sourceSize</key>
                <string>{232,206}</string>
            </dict>
            <key>fish19_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,208},{238,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,206}}</string>
                <key>sourceSize</key>
                <string>{238,206}</string>
            </dict>
            <key>fish19_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,418},{243,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,207}}</string>
                <key>sourceSize</key>
                <string>{243,207}</string>
            </dict>
            <key>fish19_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,417},{246,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,207}}</string>
                <key>sourceSize</key>
                <string>{246,207}</string>
            </dict>
            <key>fish19_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,416},{247,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,207}}</string>
                <key>sourceSize</key>
                <string>{247,207}</string>
            </dict>
            <key>fish19_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,209},{247,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,207}}</string>
                <key>sourceSize</key>
                <string>{247,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish19.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:645e9817b7cb75365225e280a000b607$</string>
            <key>textureFileName</key>
            <string>fish19.png</string>
        </dict>
    </dict>
</plist>
