<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish16_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{161,1},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,158}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish16_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{161,161},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{142,158}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{321,161},{142,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{114,158}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{443,321},{114,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{94,158}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{467,1},{94,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{100,158}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{465,161},{100,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{120,158}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{321,321},{120,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{144,158}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{321,1},{144,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish16_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{160,158}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{1,165},{160,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish16_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{160,158}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{1,327},{160,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish16_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{161,321},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish16.png</string>
            <key>size</key>
            <string>{566,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e3a1f786bc44fd5efbf52b9ab7a1d75:f43306e1706e2b1c54bbf0119d42a2c5:d2c3fbf0d2a7bf7c32974aaa318e8ba4$</string>
            <key>textureFileName</key>
            <string>fish16.png</string>
        </dict>
    </dict>
</plist>
