<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish27_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,427},{225,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,221}}</string>
                <key>sourceSize</key>
                <string>{225,221}</string>
            </dict>
            <key>fish27_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,216},{226,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,217}}</string>
                <key>sourceSize</key>
                <string>{226,217}</string>
            </dict>
            <key>fish27_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,213},{231,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,212}}</string>
                <key>sourceSize</key>
                <string>{231,212}</string>
            </dict>
            <key>fish27_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{233,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,212}}</string>
                <key>sourceSize</key>
                <string>{233,212}</string>
            </dict>
            <key>fish27_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{227,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,214}}</string>
                <key>sourceSize</key>
                <string>{227,214}</string>
            </dict>
            <key>fish27_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,435},{214,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,211}}</string>
                <key>sourceSize</key>
                <string>{214,211}</string>
            </dict>
            <key>fish27_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{218,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,213}}</string>
                <key>sourceSize</key>
                <string>{218,213}</string>
            </dict>
            <key>fish27_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,228},{228,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,203}}</string>
                <key>sourceSize</key>
                <string>{228,203}</string>
            </dict>
            <key>fish27_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{240,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,209}}</string>
                <key>sourceSize</key>
                <string>{240,209}</string>
            </dict>
            <key>fish27_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,226}}</string>
                <key>sourceSize</key>
                <string>{243,226}</string>
            </dict>
            <key>fish27_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{241,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,224}}</string>
                <key>sourceSize</key>
                <string>{241,224}</string>
            </dict>
            <key>fish27_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,433},{224,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,220}}</string>
                <key>sourceSize</key>
                <string>{224,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish27.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:360460545591312e44dd410d9fc44f4c$</string>
            <key>textureFileName</key>
            <string>fish27.png</string>
        </dict>
    </dict>
</plist>
