<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish22_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{96,174}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{475,1},{96,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{96,174}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{573,1},{96,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{96,174}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{671,1},{96,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{94,176}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{92,176}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{193,1},{92,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{92,176}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{287,1},{92,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{92,176}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{381,1},{92,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{94,176}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{97,1},{94,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{94,174}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{965,1},{94,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{96,174}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{769,1},{96,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{96,174}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{867,1},{96,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{96,172}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{1261,1},{96,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{96,172}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{1359,1},{96,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,172}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{1061,1},{98,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish22_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,172}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{1161,1},{98,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish30.png</string>
            <key>size</key>
            <string>{1456,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d51f642481af64fb10df047ff85f718:51d400f7894ec8f8d795a2d646590397:3d9303700b85f8ee126af2f9832bd0dd$</string>
            <key>textureFileName</key>
            <string>fish30.png</string>
        </dict>
    </dict>
</plist>
