<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish6_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{75,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{1629,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{1703,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{1777,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{149,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{223,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{297,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{371,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{445,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{519,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{593,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{667,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{741,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{815,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{889,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{963,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{1037,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{1111,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{1185,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{1259,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{1333,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{1407,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{1481,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{1555,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish6.png</string>
            <key>size</key>
            <string>{1850,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab094cbb60eef63360433619e3da460c:6012514d1394ea04c05b1566b7c2e552:ca48f82caf02d3e784b52857dcd6c471$</string>
            <key>textureFileName</key>
            <string>fish6.png</string>
        </dict>
    </dict>
</plist>
