<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SD1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{161,377}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{161,377}}</string>
                <key>sourceSize</key>
                <string>{161,421}</string>
            </dict>
            <key>SD2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{159,373}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{159,373}}</string>
                <key>sourceSize</key>
                <string>{161,421}</string>
            </dict>
            <key>SD3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,405}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{151,405}}</string>
                <key>sourceSize</key>
                <string>{161,421}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightning.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:defe2aaaa1787a7f50afedd1a2022ba1:1/1$</string>
            <key>textureFileName</key>
            <string>lightning.png</string>
        </dict>
    </dict>
</plist>
