<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>by_yuwang_bai_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,283},{37,46}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,170},{37,46}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,726},{51,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,145},{51,80}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,558},{63,90}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,147},{63,90}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,857},{101,132}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,127},{101,132}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1809},{133,196}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,89},{133,196}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{181,236}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,67},{181,236}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1438},{225,278}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,39},{225,278}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{257,328}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{257,328}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{245,294}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,31},{245,294}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,299},{259,310}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{259,310}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,279},{277,330}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{277,330}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{279,326}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{279,326}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{275,344}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{275,344}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,370}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,370}}</string>
                <key>sourceSize</key>
                <string>{283,370}</string>
            </dict>
            <key>by_yuwang_bai_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,808},{47,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,127},{47,48}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
            <key>by_yuwang_bai_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,650},{61,74}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,107},{61,74}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
            <key>by_yuwang_bai_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,991},{95,94}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,97},{95,94}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
            <key>by_yuwang_bai_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1665},{137,148}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,67},{137,148}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
            <key>by_yuwang_bai_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1809},{205,218}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,49},{205,218}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
            <key>by_yuwang_bai_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1367},{257,284}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,20},{257,284}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
            <key>by_yuwang_bai_3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1151},{285,292}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{285,292}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
            <key>by_yuwang_bai_3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{295,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,302}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
            <key>by_yuwang_bai_3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,857},{293,288}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{293,288}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
            <key>by_yuwang_bai_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{295,300}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,300}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
            <key>by_yuwang_bai_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,855},{295,294}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,294}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
            <key>by_yuwang_bai_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,560},{295,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,304}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
            <key>by_yuwang_bai_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1147},{291,292}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,292}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
            <key>by_yuwang_bai_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,558},{295,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,304}}</string>
                <key>sourceSize</key>
                <string>{295,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>net.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2cda33634bd05ef2e9a898327ec434d:1/1$</string>
            <key>textureFileName</key>
            <string>net.png</string>
        </dict>
    </dict>
</plist>
