<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{102,78}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,42},{102,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fd-fenxiangtb.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,492},{100,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{100,74}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>fd-hbjuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{110,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{110,74}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>fd-hongbaotb.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,322},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>fd-huafeijuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,310},{69,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,47}}</string>
                <key>sourceSize</key>
                <string>{69,47}</string>
            </dict>
            <key>fd-jiujitb.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,546},{102,104}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{102,104}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>fd-meihdtb.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,222},{94,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{94,98}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>fd-mrbq.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,261},{54,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,47}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>fd-qdtb.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,387},{116,84}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{116,84}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>fd-shoujibdtb.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,298},{87,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,117}}</string>
                <key>sourceSize</key>
                <string>{87,117}</string>
            </dict>
            <key>fd-tishikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,102},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>fd-tztb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{108,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{108,104}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>fd-tzybq.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,212},{54,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,47}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>fd-wpdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>fd-wpdk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>fd-wpdk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>fd-xyzp.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,473},{100,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{100,106}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>fd-ydaotb.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,163},{54,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,47}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>fd-ydtb.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,442},{102,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{102,106}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>fd-yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{98,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{98,68}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>fd-yuanbao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{122,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{122,74}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>fd-yuekalibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,568},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>fd_choujiangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,416},{110,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{110,74}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fudai.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b45e0c9c28748368f1633a698580a56:1/1$</string>
            <key>textureFileName</key>
            <string>fudai.png</string>
        </dict>
    </dict>
</plist>
