<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt-acheng-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{0,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-aohan-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{214,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-baichengmajiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{428,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-buyudaren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{642,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-caishendao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{856,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-changcunicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1070,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-chifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1284,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-dantiaocon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1498,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-doudizhutubiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1712,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-dousanzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{0,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-erbagang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{214,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-fangzhengicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{428,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-feiqinzoushou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{642,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-fengkuangniuniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{856,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-fuxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1070,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-fzhtiandakeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1284,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-gangshiwuzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1498,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-heishan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1712,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-helong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{0,416},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-hongbaodazhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{214,416},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-huangjinsaima.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{428,416},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-jilinicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{642,416},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-jinzhou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{856,416},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-jisuicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1070,416},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-liangshanhaohanicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1284,416},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-limupiyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1498,416},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-nonganicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1712,416},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-paodekuai-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{0,624},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-paoyaotb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{214,624},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-pingzhuang-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{428,624},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-pinshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{642,624},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-qinghongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,426}</string>
                <key>spriteSourceSize</key>
                <string>{214,426}</string>
                <key>textureRect</key>
                <string>{{856,624},{214,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-songyuanmajiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1070,624},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-suihuaicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1284,624},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-tiandakeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1498,624},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-tianjiayouxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1712,624},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-tuidaohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{0,1050},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-wudan-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{214,1050},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-xiyouji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{428,1050},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-xueliumajiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{642,1050},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-xuezhanchenghe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{856,1050},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-xunyunzzz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1070,1050},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameIcon.png</string>
            <key>size</key>
            <string>{1926,1258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70fb1906873efab3510eb30d25892725:e5df18b11af858072b884bc93dde5080:bc70d6b088944c1a7f9392e3a4118958$</string>
            <key>textureFileName</key>
            <string>gameIcon.png</string>
        </dict>
    </dict>
</plist>
