<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bianpao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{332,109},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_btn_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{192,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_frozen_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{86,84}</string>
                <key>textureRect</key>
                <string>{{106,0},{86,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bydr_game_pao_dyss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{472,109},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bydr_game_pao_fhlx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{612,109},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bydr_game_pao_tlfw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{752,109},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bydr_game_pao_zgln.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{0,219},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canjiaoji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{140,219},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{280,219},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{420,219},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{560,219},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{700,219},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{840,219},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{0,329},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{140,329},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{280,329},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daocha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{420,329},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-Mate10（64G）.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,113}</string>
                <key>spriteSourceSize</key>
                <string>{99,113}</string>
                <key>textureRect</key>
                <string>{{642,879},{99,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-OPPO R11s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,115}</string>
                <key>spriteSourceSize</key>
                <string>{91,115}</string>
                <key>textureRect</key>
                <string>{{655,992},{91,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-chongdianbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,116}</string>
                <key>spriteSourceSize</key>
                <string>{190,116}</string>
                <key>textureRect</key>
                <string>{{106,1107},{190,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-feikedianchuifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,123}</string>
                <key>spriteSourceSize</key>
                <string>{119,123}</string>
                <key>textureRect</key>
                <string>{{230,1224},{119,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-feiliputixudao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,118}</string>
                <key>spriteSourceSize</key>
                <string>{57,118}</string>
                <key>textureRect</key>
                <string>{{173,1224},{57,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-gouwuka200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,109}</string>
                <key>spriteSourceSize</key>
                <string>{176,109}</string>
                <key>textureRect</key>
                <string>{{474,0},{176,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-gouwuka500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,109}</string>
                <key>spriteSourceSize</key>
                <string>{174,109}</string>
                <key>textureRect</key>
                <string>{{650,0},{174,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-huafei100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,102}</string>
                <key>spriteSourceSize</key>
                <string>{196,102}</string>
                <key>textureRect</key>
                <string>{{278,0},{196,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-huafei30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,109}</string>
                <key>spriteSourceSize</key>
                <string>{166,109}</string>
                <key>textureRect</key>
                <string>{{0,109},{166,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-huafei50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,109}</string>
                <key>spriteSourceSize</key>
                <string>{166,109}</string>
                <key>textureRect</key>
                <string>{{166,109},{166,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-iphone8（64G）.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,115}</string>
                <key>spriteSourceSize</key>
                <string>{99,115}</string>
                <key>textureRect</key>
                <string>{{746,992},{99,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-iphoneX（64G）.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,116}</string>
                <key>spriteSourceSize</key>
                <string>{101,116}</string>
                <key>textureRect</key>
                <string>{{296,1107},{101,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-jiayouka200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,112}</string>
                <key>spriteSourceSize</key>
                <string>{181,112}</string>
                <key>textureRect</key>
                <string>{{280,879},{181,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-jiayouka500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,112}</string>
                <key>spriteSourceSize</key>
                <string>{181,112}</string>
                <key>textureRect</key>
                <string>{{461,879},{181,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-lanyaerji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,115}</string>
                <key>spriteSourceSize</key>
                <string>{111,115}</string>
                <key>textureRect</key>
                <string>{{845,992},{111,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-lbshubiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,114}</string>
                <key>spriteSourceSize</key>
                <string>{77,114}</string>
                <key>textureRect</key>
                <string>{{0,992},{77,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-ljjianpan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,114}</string>
                <key>spriteSourceSize</key>
                <string>{179,114}</string>
                <key>textureRect</key>
                <string>{{77,992},{179,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-mddianshuihu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{397,1107},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-suboerzhazhiji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,115}</string>
                <key>spriteSourceSize</key>
                <string>{106,115}</string>
                <key>textureRect</key>
                <string>{{0,1107},{106,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-xiaoxiongdianbingdang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,114}</string>
                <key>spriteSourceSize</key>
                <string>{174,114}</string>
                <key>textureRect</key>
                <string>{{256,992},{174,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-xiaoxiongsuannaiji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,117}</string>
                <key>spriteSourceSize</key>
                <string>{140,117}</string>
                <key>textureRect</key>
                <string>{{832,1107},{140,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-xmdianshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,113}</string>
                <key>spriteSourceSize</key>
                <string>{190,113}</string>
                <key>textureRect</key>
                <string>{{741,879},{190,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-xmdianzicheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,117}</string>
                <key>spriteSourceSize</key>
                <string>{173,117}</string>
                <key>textureRect</key>
                <string>{{0,1224},{173,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-xmshouhuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{481,1107},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dh-xmyinxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,114}</string>
                <key>spriteSourceSize</key>
                <string>{139,114}</string>
                <key>textureRect</key>
                <string>{{430,992},{139,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dhxy_yjp_putong01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{560,329},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{700,329},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{840,329},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{0,439},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{140,439},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{280,439},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{420,439},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{560,439},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanqie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{700,439},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fd-yuanbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{840,439},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiwen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{0,549},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grxx-icon-gmk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,61}</string>
                <key>spriteSourceSize</key>
                <string>{106,61}</string>
                <key>textureRect</key>
                <string>{{0,0},{106,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd-baijiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{140,549},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd-hongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,114}</string>
                <key>spriteSourceSize</key>
                <string>{86,114}</string>
                <key>textureRect</key>
                <string>{{569,992},{86,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd-jintiao5g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{280,549},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd-wenquanpiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{420,549},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{560,549},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{700,549},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meiguihua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{840,549},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{0,659},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{140,659},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pisa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{280,659},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{420,659},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-dan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{349,1224},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-daojubao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{560,659},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-daojubao01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{700,659},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-daojubao02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{840,659},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-fafa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{499,1224},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-fanqie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{649,1224},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-hongbaoka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{0,769},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-huafeika.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{140,769},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-jigege.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{799,1224},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-jingdongka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{280,769},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-jipaiqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{420,769},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-jiubei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{0,1374},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-laba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{560,769},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-shouchon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,116}</string>
                <key>spriteSourceSize</key>
                <string>{235,116}</string>
                <key>textureRect</key>
                <string>{{597,1107},{235,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-yuanbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{150,1374},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-yueka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{700,769},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-zadan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{300,1374},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc-zuichun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{450,1374},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{840,769},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaocaimao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{0,879},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuankuai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{140,879},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shangcheng.png</string>
            <key>size</key>
            <string>{980,1524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7511f00ce3cfa36a4ee9f277cd96bfc0:b916f40099eb26e897a24bceda41b72e:ecd8b8b1fc8f9577e22967c734b6821f$</string>
            <key>textureFileName</key>
            <string>shangcheng.png</string>
        </dict>
    </dict>
</plist>
