<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dant_poker_deng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{350,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,470}}</string>
                <key>sourceSize</key>
                <string>{350,470}</string>
            </dict>
            <key>dant_poker_deng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,470}}</string>
                <key>sourceSize</key>
                <string>{350,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dantLight.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6da2e6e9cf3e748ac20d793df3c9123$</string>
            <key>textureFileName</key>
            <string>dantLight.png</string>
        </dict>
    </dict>
</plist>
