<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{0,0},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{145,0},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{290,0},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{435,0},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{580,0},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{725,0},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{870,0},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{0,187},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{145,187},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{290,187},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{435,187},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{580,187},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{725,187},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{870,187},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{0,374},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{145,374},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{290,374},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{435,374},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{580,374},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{725,374},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{870,374},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{0,561},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{145,561},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{290,561},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{435,561},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{580,561},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{725,561},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{870,561},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{0,748},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{145,748},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{290,748},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{435,748},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{145,187}</string>
                <key>textureRect</key>
                <string>{{580,748},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hit.png</string>
            <key>size</key>
            <string>{1015,935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a5bc0ce42e2e81a1cc6a54ff06a229:8174b4096f58dfb3c1652d99bf62c4d3:516f89fe362b6390efd4aa18575c8762$</string>
            <key>textureFileName</key>
            <string>hit.png</string>
        </dict>
    </dict>
</plist>
