<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>split_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{0,0},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{136,0},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{272,0},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{0,176},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{136,176},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{272,176},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{0,352},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{136,352},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{272,352},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{0,528},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{136,528},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{272,528},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{0,704},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{136,704},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{272,704},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{0,880},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{136,880},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{272,880},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{0,1056},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{136,1056},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{272,1056},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{0,1232},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{136,1232},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{272,1232},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{0,1408},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>split_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{136,1408},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>split.png</string>
            <key>size</key>
            <string>{408,1584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1826126f1c5ef38503942ec1c0ea511:48bba8874dea792664c0c3d425649fe7:f2da2c84641d0b60c2ba9a407322e39d$</string>
            <key>textureFileName</key>
            <string>split.png</string>
        </dict>
    </dict>
</plist>
