<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyu_dt_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,116},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>buyu_dt_icon_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>buyu_dt_roomcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,116},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>buyu_load_dt_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,116},{49,50}}</string>
                <key>offset</key>
                <string>{88,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{225,50}</string>
            </dict>
            <key>buyu_txt_jzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{174,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,42}}</string>
                <key>sourceSize</key>
                <string>{174,42}</string>
            </dict>
            <key>buyui_ui_common_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,187},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>fish_btn_bybs.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,273},{106,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,87}}</string>
                <key>sourceSize</key>
                <string>{106,87}</string>
            </dict>
            <key>fish_btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,187},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>fish_btn_redbag.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,187},{101,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,84}}</string>
                <key>sourceSize</key>
                <string>{101,84}</string>
            </dict>
            <key>fish_btn_shopcar.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,116},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>fish_dt_icon_newyeardfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,187},{115,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,83}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
            <key>fish_fjxz_bg_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>fish_fjxz_bg_jbfk.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,116},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>fish_fjxz_bg_xk.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,116},{165,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,69}}</string>
                <key>sourceSize</key>
                <string>{165,69}</string>
            </dict>
            <key>fish_fjxz_btn_fjbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,617},{357,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,374}}</string>
                <key>sourceSize</key>
                <string>{357,374}</string>
            </dict>
            <key>fish_fjxz_btn_gdyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,380},{158,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,116}}</string>
                <key>sourceSize</key>
                <string>{158,116}</string>
            </dict>
            <key>fish_fjxz_btn_iphonex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{118,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{118,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fish_fjxz_btn_ksks.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,380},{158,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,116}}</string>
                <key>sourceSize</key>
                <string>{158,116}</string>
            </dict>
            <key>fish_fjxz_btn_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,187},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>fish_fjxz_btn_manage.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,273},{89,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,95}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>fish_fjxz_btn_qhb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{158,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,116}}</string>
                <key>sourceSize</key>
                <string>{158,116}</string>
            </dict>
            <key>fish_fjxz_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,187},{73,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,81}}</string>
                <key>sourceSize</key>
                <string>{73,81}</string>
            </dict>
            <key>fish_fjxz_img_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,273},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>fish_fjxz_img_ksgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,36},{172,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,37}}</string>
                <key>sourceSize</key>
                <string>{172,37}</string>
            </dict>
            <key>fish_fjxz_txt_bpt.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,36},{93,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{93,33}}</string>
                <key>sourceSize</key>
                <string>{97,37}</string>
            </dict>
            <key>fish_fjxz_txt_lgbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,498},{324,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,117}}</string>
                <key>sourceSize</key>
                <string>{324,117}</string>
            </dict>
            <key>fish_fjxz_txt_sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,32}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>fish_fjxz_txt_shjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,380},{324,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,115}}</string>
                <key>sourceSize</key>
                <string>{324,117}</string>
            </dict>
            <key>fish_fjxz_txt_xsgw.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,498},{324,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,117}}</string>
                <key>sourceSize</key>
                <string>{324,117}</string>
            </dict>
            <key>fish_fjxz_txt_ys.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{153,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{153,33}}</string>
                <key>sourceSize</key>
                <string>{157,37}</string>
            </dict>
            <key>fish_icon_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,187},{88,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{88,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fish_img_wave.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{346,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,257}}</string>
                <key>sourceSize</key>
                <string>{346,257}</string>
            </dict>
            <key>fish_loading_img_yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,116},{205,43}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,27},{205,43}}</string>
                <key>sourceSize</key>
                <string>{301,91}</string>
            </dict>
            <key>fish_loading_logo_2_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,273},{294,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{294,105}}</string>
                <key>sourceSize</key>
                <string>{318,113}</string>
            </dict>
            <key>fish_pt_dt_icon_chl.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,273},{88,86}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{88,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ui_common_progress_Set up_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{664,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,26}}</string>
                <key>sourceSize</key>
                <string>{664,26}</string>
            </dict>
            <key>ui_common_progress_Set up_loading02.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,75},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>ui_common_progress_Set up_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{675,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{675,38}}</string>
                <key>sourceSize</key>
                <string>{675,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_room_common_2.png</string>
            <key>size</key>
            <string>{821,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94a41bb68ba3b63482b148a4184a1dbc:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_room_common_2.png</string>
        </dict>
    </dict>
</plist>
