<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bydr_bg_jns.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,946},{73,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,20}}</string>
                <key>sourceSize</key>
                <string>{73,20}</string>
            </dict>
            <key>bydr_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,693},{182,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,73}}</string>
                <key>sourceSize</key>
                <string>{182,73}</string>
            </dict>
            <key>bydr_icon_table_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{380,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,253}}</string>
                <key>sourceSize</key>
                <string>{380,253}</string>
            </dict>
            <key>bydr_icon_table_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{380,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,253}}</string>
                <key>sourceSize</key>
                <string>{380,253}</string>
            </dict>
            <key>bydr_tit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,436},{340,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,71}}</string>
                <key>sourceSize</key>
                <string>{340,71}</string>
            </dict>
            <key>bydr_xf_font_dsc.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,475},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>bydr_xf_font_dscg.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,475},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>bydr_xz_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,917},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>bydr_xz_heady.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,898},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>bydr_xz_heady_kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,853},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>fish_btn_ash.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,833},{115,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,63}}</string>
                <key>sourceSize</key>
                <string>{115,63}</string>
            </dict>
            <key>fish_btn_backroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,475},{216,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,74}}</string>
                <key>sourceSize</key>
                <string>{216,74}</string>
            </dict>
            <key>fish_btn_classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,471}}</string>
                <key>sourceSize</key>
                <string>{432,471}</string>
            </dict>
            <key>fish_btn_createroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,778},{335,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,235}}</string>
                <key>sourceSize</key>
                <string>{335,235}</string>
            </dict>
            <key>fish_btn_joinroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{216,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,74}}</string>
                <key>sourceSize</key>
                <string>{216,74}</string>
            </dict>
            <key>fish_btn_qpby.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{414,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,471}}</string>
                <key>sourceSize</key>
                <string>{414,471}</string>
            </dict>
            <key>fish_btn_shark.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,475},{301,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,227}}</string>
                <key>sourceSize</key>
                <string>{301,227}</string>
            </dict>
            <key>fish_btn_shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,972},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>fish_bydr_xf_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{390,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,4}}</string>
                <key>sourceSize</key>
                <string>{390,4}</string>
            </dict>
            <key>fish_dt_bg_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,768},{49,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,83}}</string>
                <key>sourceSize</key>
                <string>{49,83}</string>
            </dict>
            <key>fish_dt_bg_show_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{2,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,68}}</string>
                <key>sourceSize</key>
                <string>{2,68}</string>
            </dict>
            <key>fish_dt_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,768},{115,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,63}}</string>
                <key>sourceSize</key>
                <string>{115,63}</string>
            </dict>
            <key>fish_dt_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,946},{115,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,63}}</string>
                <key>sourceSize</key>
                <string>{115,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_room_common_4.png</string>
            <key>size</key>
            <string>{902,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaf5b2fb73d820e474630786a125fd70:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_room_common_4.png</string>
        </dict>
    </dict>
</plist>
