<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bydr_icon_ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>bydr_xf_bg_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,42}}</string>
                <key>sourceSize</key>
                <string>{296,42}</string>
            </dict>
            <key>bydr_xf_font_gjc.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,84},{182,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,65}}</string>
                <key>sourceSize</key>
                <string>{182,65}</string>
            </dict>
            <key>bydr_xf_font_gjcg.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,68},{182,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,65}}</string>
                <key>sourceSize</key>
                <string>{182,65}</string>
            </dict>
            <key>bydr_xf_font_xsc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{183,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,64}}</string>
                <key>sourceSize</key>
                <string>{183,64}</string>
            </dict>
            <key>bydr_xf_font_xscg.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{183,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,64}}</string>
                <key>sourceSize</key>
                <string>{183,64}</string>
            </dict>
            <key>bydr_xf_font_zhjc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{181,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,64}}</string>
                <key>sourceSize</key>
                <string>{181,64}</string>
            </dict>
            <key>bydr_xf_font_zhjcg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{181,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,64}}</string>
                <key>sourceSize</key>
                <string>{181,64}</string>
            </dict>
            <key>fish_vip_icon_vip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,361},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>fish_vip_icon_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,367},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>fish_vip_icon_vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,367},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>fish_vip_icon_vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>fish_vip_icon_vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,268},{113,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>fish_vip_icon_vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>fish_vip_icon_vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>fish_vip_icon_vip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,244},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>fish_vip_icon_vip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>fish_vip_icon_vip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,68},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>fish_vip_img_biaoshibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,46},{87,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,36}}</string>
                <key>sourceSize</key>
                <string>{87,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_room_common_6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3479f3cd1b6f183a0b45162713010a00:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_room_common_6.png</string>
        </dict>
    </dict>
</plist>
