<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyu_dt_bag_btn_prop02.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,77},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>buyu_dt_f_bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{260,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,68}}</string>
                <key>sourceSize</key>
                <string>{260,68}</string>
            </dict>
            <key>buyu_dt_f_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{146,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,55}}</string>
                <key>sourceSize</key>
                <string>{146,55}</string>
            </dict>
            <key>buyu_dt_f_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,492},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>buyu_dt_f_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{189,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,69}}</string>
                <key>sourceSize</key>
                <string>{189,69}</string>
            </dict>
            <key>buyu_dt_set_bg_swith.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,145},{176,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,60}}</string>
                <key>sourceSize</key>
                <string>{176,60}</string>
            </dict>
            <key>buyu_dt_set_bg_swith01.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,323},{169,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,60}}</string>
                <key>sourceSize</key>
                <string>{169,60}</string>
            </dict>
            <key>buyu_dt_set_btn_swith.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,316},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>buyu_dt_set_txt_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,492},{107,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,53}}</string>
                <key>sourceSize</key>
                <string>{107,53}</string>
            </dict>
            <key>fish_bag_img_tba.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,759},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>fish_bg_bqk.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,872},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>fish_bg_dial.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,759},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>fish_bg_wjhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,259},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>fish_bg_wjheadd.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,925},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>fish_bq_btn_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,439},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{28,41}</string>
            </dict>
            <key>fish_btn_boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,392},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>fish_btn_dtx.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,637},{58,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{58,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fish_btn_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,554},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>fish_btn_ji.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,115},{78,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>fish_dismiss_bg_bluebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,759},{169,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,254}}</string>
                <key>sourceSize</key>
                <string>{169,254}</string>
            </dict>
            <key>fish_dismiss_bg_ramp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{869,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{869,41}}</string>
                <key>sourceSize</key>
                <string>{869,41}</string>
            </dict>
            <key>fish_dismiss_bg_yellowbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,759},{168,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,254}}</string>
                <key>sourceSize</key>
                <string>{168,254}</string>
            </dict>
            <key>fish_dismiss_icon_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,478},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>fish_dismiss_icon_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,706},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>fish_ewm_gwb.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,615},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>fish_game_icon_bumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,615},{71,59}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{71,59}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>fish_game_icon_chaopiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,390},{68,38}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,24},{68,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fish_game_icon_dianzan.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,637},{63,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{63,63}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>fish_game_icon_jidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,706},{66,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{66,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fish_game_icon_xuejia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{67,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>fish_img_activity_jl.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,279},{77,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,35}}</string>
                <key>sourceSize</key>
                <string>{77,35}</string>
            </dict>
            <key>fish_img_activity_rw.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,202},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>fish_img_bankruptcy.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,936},{109,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,71}}</string>
                <key>sourceSize</key>
                <string>{109,71}</string>
            </dict>
            <key>fish_img_bone01.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,482},{43,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,24}}</string>
                <key>sourceSize</key>
                <string>{43,24}</string>
            </dict>
            <key>fish_img_bone02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,601},{53,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>fish_img_bone03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,239},{77,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,38}}</string>
                <key>sourceSize</key>
                <string>{77,44}</string>
            </dict>
            <key>fish_img_ddjr.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,936},{166,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,72}}</string>
                <key>sourceSize</key>
                <string>{166,72}</string>
            </dict>
            <key>fish_img_dragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,759},{164,161}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{198,161}</string>
            </dict>
            <key>fish_img_gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,59},{10,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,22}}</string>
                <key>sourceSize</key>
                <string>{10,22}</string>
            </dict>
            <key>fish_img_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,492},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>fish_img_jaws.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,59},{198,135}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{198,135}}</string>
                <key>sourceSize</key>
                <string>{198,161}</string>
            </dict>
            <key>fish_img_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,45},{98,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,2}}</string>
                <key>sourceSize</key>
                <string>{98,2}</string>
            </dict>
            <key>fish_img_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,319},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>fish_img_ray.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,281},{332,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,332}}</string>
                <key>sourceSize</key>
                <string>{332,332}</string>
            </dict>
            <key>fish_img_redribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{245,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,82}}</string>
                <key>sourceSize</key>
                <string>{245,82}</string>
            </dict>
            <key>fish_js_bg_bluebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{202,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,362}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>fish_js_bg_trans.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,45},{30,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,421}}</string>
                <key>sourceSize</key>
                <string>{30,421}</string>
            </dict>
            <key>fish_js_bg_yellowbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,77},{202,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,362}}</string>
                <key>sourceSize</key>
                <string>{202,362}</string>
            </dict>
            <key>fish_js_head_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,390},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fish_js_icon_oclock.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,494},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>fish_js_img_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,390},{314,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,197}}</string>
                <key>sourceSize</key>
                <string>{314,197}</string>
            </dict>
            <key>fish_lh1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{82,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>fish_set_icon_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,353},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>fish_set_icon_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,478},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>fish_tc_bg_trans.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,527},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>fish_text_defen_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,360},{77,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,29}}</string>
                <key>sourceSize</key>
                <string>{77,29}</string>
            </dict>
            <key>fish_text_defen_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,281},{77,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,29}}</string>
                <key>sourceSize</key>
                <string>{77,29}</string>
            </dict>
            <key>fish_title_jsjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{442,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,68}}</string>
                <key>sourceSize</key>
                <string>{442,68}</string>
            </dict>
            <key>fish_yy_btn_bq.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,392},{68,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,123}}</string>
                <key>sourceSize</key>
                <string>{68,123}</string>
            </dict>
            <key>fish_yy_btn_bqy.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,319},{68,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,123}}</string>
                <key>sourceSize</key>
                <string>{68,123}</string>
            </dict>
            <key>fish_yy_btn_qz.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,615},{68,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,115}}</string>
                <key>sourceSize</key>
                <string>{68,115}</string>
            </dict>
            <key>fish_yy_btn_qzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,615},{68,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,115}}</string>
                <key>sourceSize</key>
                <string>{68,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_common_ui_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faaf9ec24ee2cfbe24fdaede77ddb8ab:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_common_ui_1.png</string>
        </dict>
    </dict>
</plist>
