<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>z_1_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_1_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{73,0},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_1_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{146,0},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_2_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{0,90},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_2_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{73,90},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_2_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{146,90},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_3_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{0,180},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_3_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{73,180},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_3_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{146,180},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_4_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{0,270},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_4_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{73,270},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_4_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{146,270},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_5_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{0,360},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_5_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{73,360},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_5_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{146,360},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_6_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,110}</string>
                <key>spriteSourceSize</key>
                <string>{74,110}</string>
                <key>textureRect</key>
                <string>{{0,450},{74,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_6_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{74,450},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_6_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{147,450},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_7_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{0,560},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_7_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{73,560},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_7_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{146,560},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_8_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{0,650},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_8_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{73,650},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_8_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{146,650},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_9_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{0,740},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_9_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{73,740},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_9_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{146,740},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_baiban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{0,830},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_bei_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{73,830},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_dong_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{146,830},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_fa_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{0,920},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_chun_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{73,920},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_dong_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{146,920},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_ju_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{0,1010},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_lan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{73,1010},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_mei_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{146,1010},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_qiu_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{0,1100},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_xia_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{73,1100},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_zhu_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{146,1100},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_nan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{0,1190},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_xi_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{73,1190},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_zhong_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,90}</string>
                <key>spriteSourceSize</key>
                <string>{73,90}</string>
                <key>textureRect</key>
                <string>{{146,1190},{73,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>majiangpai_value_yellow.png</string>
            <key>size</key>
            <string>{220,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ea40c86596f1022bf4691cb24bf11ad:01c4f240b53d6cd8755ce0a7a3b73afd:81ae1fff5de61a56efe26d27466c2f11$</string>
            <key>textureFileName</key>
            <string>majiangpai_value_yellow.png</string>
        </dict>
    </dict>
</plist>
