<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ed_baipai_liangbian_kai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{217,0},{69,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_baipai_shangxia_kai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,79}</string>
                <key>spriteSourceSize</key>
                <string>{56,79}</string>
                <key>textureRect</key>
                <string>{{52,75},{56,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_hupai_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,49}</string>
                <key>spriteSourceSize</key>
                <string>{34,49}</string>
                <key>textureRect</key>
                <string>{{102,0},{34,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_penpai_jifang_kai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,105}</string>
                <key>spriteSourceSize</key>
                <string>{74,105}</string>
                <key>textureRect</key>
                <string>{{164,75},{74,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_penpai_jifang_kou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,105}</string>
                <key>spriteSourceSize</key>
                <string>{74,105}</string>
                <key>textureRect</key>
                <string>{{238,75},{74,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_penpai_liangbian_kou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{48,0},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_penpai_shangjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,75}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{0,75},{52,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_penpai_shangjia_kou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,75}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{444,0},{52,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_kou_li.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,137}</string>
                <key>spriteSourceSize</key>
                <string>{96,137}</string>
                <key>textureRect</key>
                <string>{{312,75},{96,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_liangbian_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,60}</string>
                <key>spriteSourceSize</key>
                <string>{25,60}</string>
                <key>textureRect</key>
                <string>{{192,0},{25,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_liangbian_dao_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{136,0},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_shang_dao_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,62}</string>
                <key>spriteSourceSize</key>
                <string>{45,62}</string>
                <key>textureRect</key>
                <string>{{355,0},{45,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_shang_kou_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,79}</string>
                <key>spriteSourceSize</key>
                <string>{56,79}</string>
                <key>textureRect</key>
                <string>{{108,75},{56,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_shang_kou_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{286,0},{69,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_shangjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,65}</string>
                <key>spriteSourceSize</key>
                <string>{44,65}</string>
                <key>textureRect</key>
                <string>{{400,0},{44,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_zhuoyou_kou_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,43}</string>
                <key>spriteSourceSize</key>
                <string>{48,43}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_ziji_li.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,138}</string>
                <key>spriteSourceSize</key>
                <string>{97,138}</string>
                <key>textureRect</key>
                <string>{{408,75},{97,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>majiangpai_2d_green.png</string>
            <key>size</key>
            <string>{505,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cbaacf5404c86e50faac1a06ec10f9b:4782d9ba5e5d8c69abe8e6f971048a21:76927a17e6b02221841991098a7e162e$</string>
            <key>textureFileName</key>
            <string>majiangpai_2d_green.png</string>
        </dict>
    </dict>
</plist>
