<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>z_1_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_1_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,0},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_1_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,0},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_2_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,101},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_2_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,101},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_2_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,101},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_3_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,202},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_3_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,202},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_3_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,202},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_4_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,303},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_4_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,303},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_4_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,303},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_5_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,404},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_5_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,404},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_5_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,404},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_6_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,505},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_6_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,505},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_6_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,505},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_7_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,606},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_7_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,606},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_7_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,606},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_8_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,707},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_8_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,707},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_8_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,707},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_9_bin_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,808},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_9_tiao_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,808},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_9_wan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,808},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_baiban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,909},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_bei_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,909},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_dong_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,909},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_fa_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,1010},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_chun_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,1010},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_dong_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,1010},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_ju_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,1111},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_lan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,1111},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_mei_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,1111},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_qiu_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,1212},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_xia_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,1212},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_hua_zhu_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,1212},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_nan_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{0,1313},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_xi_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{72,1313},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_zhong_zsp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{144,1313},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>majiangpai_value_blue.png</string>
            <key>size</key>
            <string>{216,1414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fae3776dbfd123eed65fadb960fea56:ebfeb28a00a365c05de2695cd712e24d:e1f28013231c258cb49156655a3a3cba$</string>
            <key>textureFileName</key>
            <string>majiangpai_value_blue.png</string>
        </dict>
    </dict>
</plist>
