<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ed_baipai_liangbian_kai_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{217,0},{69,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_baipai_shangxia_kai_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,79}</string>
                <key>spriteSourceSize</key>
                <string>{56,79}</string>
                <key>textureRect</key>
                <string>{{52,71},{56,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_hupai_01_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,49}</string>
                <key>spriteSourceSize</key>
                <string>{34,49}</string>
                <key>textureRect</key>
                <string>{{102,0},{34,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_penpai_jifang_kai_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,105}</string>
                <key>spriteSourceSize</key>
                <string>{74,105}</string>
                <key>textureRect</key>
                <string>{{164,71},{74,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_penpai_jifang_kou_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,105}</string>
                <key>spriteSourceSize</key>
                <string>{74,105}</string>
                <key>textureRect</key>
                <string>{{238,71},{74,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_penpai_liangbian_kou_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{48,0},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_penpai_shangjia_kou_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,75}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{0,71},{52,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_penpai_shangjia_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,71}</string>
                <key>spriteSourceSize</key>
                <string>{50,71}</string>
                <key>textureRect</key>
                <string>{{444,0},{50,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_kou_li_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,137}</string>
                <key>spriteSourceSize</key>
                <string>{96,137}</string>
                <key>textureRect</key>
                <string>{{312,71},{96,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_liangbian_01_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,60}</string>
                <key>spriteSourceSize</key>
                <string>{25,60}</string>
                <key>textureRect</key>
                <string>{{192,0},{25,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_liangbian_dao_01_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{136,0},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_shang_dao_02_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,62}</string>
                <key>spriteSourceSize</key>
                <string>{45,62}</string>
                <key>textureRect</key>
                <string>{{355,0},{45,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_shang_kou_07_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,79}</string>
                <key>spriteSourceSize</key>
                <string>{56,79}</string>
                <key>textureRect</key>
                <string>{{108,71},{56,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_shang_kou_08_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{286,0},{69,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_shangjia_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,65}</string>
                <key>spriteSourceSize</key>
                <string>{44,65}</string>
                <key>textureRect</key>
                <string>{{400,0},{44,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_zhuoyou_kou_03_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,43}</string>
                <key>spriteSourceSize</key>
                <string>{48,43}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ed_shoupai_ziji_li_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,138}</string>
                <key>spriteSourceSize</key>
                <string>{97,138}</string>
                <key>textureRect</key>
                <string>{{408,71},{97,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>majiangpai_2d_yellow.png</string>
            <key>size</key>
            <string>{505,209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8c16a448647419e2dd1f20843e5bdc5:00695c2c19976ec3c51c23a14f7fc716:4e09ca4fda30018a7a32a06f8d75ad26$</string>
            <key>textureFileName</key>
            <string>majiangpai_2d_yellow.png</string>
        </dict>
    </dict>
</plist>
