<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XZH1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,848},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>XZH10.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,729},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>XZH2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,610},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>XZH3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,491},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>XZH4.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,372},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>XZH5.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,258},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>XZH6.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,258},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>XZH7.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,258},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>XZH8.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,258},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>XZH9.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,258},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>XZL1.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,495},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>XZL10.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,495},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>XZL2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,845},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>XZL3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,727},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>XZL4.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,609},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>XZL5.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,491},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>XZL6.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,377},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>XZL7.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,377},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>XZL8.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,377},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>XZL9.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,377},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>moxuanze0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,742},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>moxuanze0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,557},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>moxuanze0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,372},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>moxuanze0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,187},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>moxuanze0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,130},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>moxuanze0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,130},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>moxuanze0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,130},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>moxuanze0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,130},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>moxuanze0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>xianxuanze0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>xianxuanze0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>xianxuanze0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>xianxuanze0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>xianxuanze0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>xianxuanze0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>xianxuanze0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>xianxuanze0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>xianxuanze0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shineFrame.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2d85ae2d3571aa134601c2a42262e2e:1/1$</string>
            <key>textureFileName</key>
            <string>shineFrame.png</string>
        </dict>
    </dict>
</plist>
