<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyu_buff_smog00.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1511},{501,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{501,501}}</string>
                <key>sourceSize</key>
                <string>{503,503}</string>
            </dict>
            <key>buyu_buff_smog01.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1008},{501,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{501,501}}</string>
                <key>sourceSize</key>
                <string>{503,503}</string>
            </dict>
            <key>buyu_buff_smog02.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,505},{501,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{501,501}}</string>
                <key>sourceSize</key>
                <string>{503,503}</string>
            </dict>
            <key>buyu_buff_smog03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,2},{501,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{501,501}}</string>
                <key>sourceSize</key>
                <string>{503,503}</string>
            </dict>
            <key>buyu_buff_smog04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{501,501}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,501}}</string>
                <key>sourceSize</key>
                <string>{503,503}</string>
            </dict>
            <key>buyu_buff_smog05.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{501,501}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,501}}</string>
                <key>sourceSize</key>
                <string>{503,503}</string>
            </dict>
            <key>buyu_buff_smog06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1511},{501,501}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,501}}</string>
                <key>sourceSize</key>
                <string>{503,503}</string>
            </dict>
            <key>buyu_buff_smog07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{501,501}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,501}}</string>
                <key>sourceSize</key>
                <string>{503,503}</string>
            </dict>
            <key>buyu_buff_smog08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{501,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{501,501}}</string>
                <key>sourceSize</key>
                <string>{503,503}</string>
            </dict>
            <key>buyu_buff_smog09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{501,501}}</string>
                <key>sourceSize</key>
                <string>{503,503}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buyu_buff_smog.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74aec0cec9c6ecd0c052442536b74583$</string>
            <key>textureFileName</key>
            <string>buyu_buff_smog.png</string>
        </dict>
    </dict>
</plist>
