<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish2_d_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{28,50}</string>
                <key>spriteSourceSize</key>
                <string>{28,54}</string>
                <key>textureRect</key>
                <string>{{1,113},{28,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_d_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,54}</string>
                <key>spriteSourceSize</key>
                <string>{28,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{28,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2_d_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,54}</string>
                <key>spriteSourceSize</key>
                <string>{28,54}</string>
                <key>textureRect</key>
                <string>{{1,57},{28,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish2_d.png</string>
            <key>size</key>
            <string>{30,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:785ef4d5d89144cc7f8fc6e56b15eb12:f5ca759d5267b7a832269847447bc75c:b9539ec98a407ec60a1afec12b2d6f6e$</string>
            <key>textureFileName</key>
            <string>fish2_d.png</string>
        </dict>
    </dict>
</plist>
