<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish9_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,160}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,160}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{1,163},{70,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,160}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{73,1},{70,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,160}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{73,163},{70,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,160}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{145,1},{70,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,160}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{145,163},{70,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,158}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{361,1},{70,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,158}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{361,161},{70,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,158}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{361,321},{70,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{70,156}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{505,1},{70,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{70,156}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{505,159},{70,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{70,154}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{1,325},{70,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{70,154}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{73,325},{70,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{70,154}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{145,325},{70,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{70,154}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{217,325},{70,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{70,154}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{289,325},{70,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{70,154}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{505,317},{70,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{70,154}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{433,319},{70,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{70,156}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{433,161},{70,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,158}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{433,1},{70,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,160}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{217,1},{70,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,160}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{217,163},{70,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,160}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{289,1},{70,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,160}</string>
                <key>spriteSourceSize</key>
                <string>{70,160}</string>
                <key>textureRect</key>
                <string>{{289,163},{70,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish9.png</string>
            <key>size</key>
            <string>{576,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d1e66d18ff429df88c6c7b633f78d02:dbf766bcaebef3a4b5324f610f8aa7c7:ff7482c0f1a9603ba7f5d62e3c2de0e7$</string>
            <key>textureFileName</key>
            <string>fish9.png</string>
        </dict>
    </dict>
</plist>
