<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish9_d_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{90,148}</string>
                <key>spriteSourceSize</key>
                <string>{90,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9_d_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{74,156}</string>
                <key>spriteSourceSize</key>
                <string>{90,160}</string>
                <key>textureRect</key>
                <string>{{93,1},{74,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish9_d_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{66,160}</string>
                <key>spriteSourceSize</key>
                <string>{90,160}</string>
                <key>textureRect</key>
                <string>{{93,77},{66,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish9_d_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{62,154}</string>
                <key>spriteSourceSize</key>
                <string>{90,160}</string>
                <key>textureRect</key>
                <string>{{93,145},{62,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish9_d.png</string>
            <key>size</key>
            <string>{254,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2f5e5b7d278ff99cd575f59c7ce2d0c:0a8a9b564707c22dd6ca739a36d0dd4e:382054321c3a64fd19d8f7305b140b14$</string>
            <key>textureFileName</key>
            <string>fish9_d.png</string>
        </dict>
    </dict>
</plist>
