<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>259e2489-2698-418c-8d29-de525293ab69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,153}</string>
                <key>spriteSourceSize</key>
                <string>{145,153}</string>
                <key>textureRect</key>
                <string>{{0,0},{145,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>259e2489-2698-418c-8d29-de525293ab69.pvr.ccz</string>
            <key>size</key>
            <string>{145,153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:508a740758f5b62e571b898739592e8d:145d26bf0037162bf64eb48b4692732c:900e808b77f73d1336e7a4728ec5930a$</string>
            <key>textureFileName</key>
            <string>259e2489-2698-418c-8d29-de525293ab69.pvr.ccz</string>
        </dict>
    </dict>
</plist>
