<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fqzs_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{68,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{68,72}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>fqzs_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,423},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>fqzs_icon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,423},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>fqzs_icon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,499},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>fqzs_icon05.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,495},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>fqzs_icon06.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,399},{52,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{52,72}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>fqzs_icon07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,450},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{66,72}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>fqzs_icon08.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,571},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{70,68}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>fqzs_icon09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{68,70}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>fqzs_icon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>fqzs_icon_da_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{149,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{149,160}}</string>
                <key>sourceSize</key>
                <string>{165,160}</string>
            </dict>
            <key>fqzs_icon_da_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{165,156}}</string>
                <key>sourceSize</key>
                <string>{165,160}</string>
            </dict>
            <key>fqzs_icon_da_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,119},{131,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{131,156}}</string>
                <key>sourceSize</key>
                <string>{165,160}</string>
            </dict>
            <key>fqzs_icon_da_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,153},{127,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{127,154}}</string>
                <key>sourceSize</key>
                <string>{165,160}</string>
            </dict>
            <key>fqzs_icon_da_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{139,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{139,144}}</string>
                <key>sourceSize</key>
                <string>{165,160}</string>
            </dict>
            <key>fqzs_icon_da_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{115,158}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{115,158}}</string>
                <key>sourceSize</key>
                <string>{165,160}</string>
            </dict>
            <key>fqzs_icon_da_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,399},{131,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{131,144}}</string>
                <key>sourceSize</key>
                <string>{165,160}</string>
            </dict>
            <key>fqzs_icon_da_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,252},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{145,146}}</string>
                <key>sourceSize</key>
                <string>{165,160}</string>
            </dict>
            <key>fqzs_icon_da_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{147,150}}</string>
                <key>sourceSize</key>
                <string>{165,160}</string>
            </dict>
            <key>fqzs_icon_da_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,282},{139,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{139,144}}</string>
                <key>sourceSize</key>
                <string>{165,160}</string>
            </dict>
            <key>fqzs_kaijiang_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,569},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fqzs_kaijiang_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,532},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fqzs_kaijiang_icon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,532},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fqzs_kaijiang_icon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,532},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fqzs_kaijiang_icon05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fqzs_kaijiang_icon06.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,620},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fqzs_kaijiang_icon07.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,572},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fqzs_kaijiang_icon08.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,524},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fqzs_kaijiang_icon09.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,521},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fqzs_kaijiang_icon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,473},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c29ccd600ec65e1c6b0415aa15eaf8b2:1/1$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
