<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>254d68d4-cf9e-432a-9ca7-93718677f59b.fa96b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,34}</string>
                <key>spriteSourceSize</key>
                <string>{135,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{135,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>254d68d4-cf9e-432a-9ca7-93718677f59b.fa96b.back.png</string>
            <key>size</key>
            <string>{135,34}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8cc6ca7dbcdc025c4a0bfc77e489996:60cc5f3fd4775ba03eb11331cfb888b3:901f8a1b47322c6ed69e67e1416667a5$</string>
            <key>textureFileName</key>
            <string>254d68d4-cf9e-432a-9ca7-93718677f59b.fa96b.back.png</string>
        </dict>
    </dict>
</plist>
