<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss-4-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,1508},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1060},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,531},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,2},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1508},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1508},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1060},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,979},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,531},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,2},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,531},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,2},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
            <key>boss-4-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{527,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,446}}</string>
                <key>sourceSize</key>
                <string>{527,446}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_anim_3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3b2c0a69f4ad2eacb0fc7fd85c5fa4e:1/1$</string>
            <key>textureFileName</key>
            <string>boss_anim_3.png</string>
        </dict>
    </dict>
</plist>
