<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Horse/img/run/map/center_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,602},{58,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,25}</string>
			</dict>
			<key>Horse/img/run/map/center_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,984},{65,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,39}</string>
			</dict>
			<key>Horse/img/run/map/center_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,435},{106,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,57}</string>
			</dict>
			<key>Horse/img/run/map/center_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,769},{139,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,59}</string>
			</dict>
			<key>Horse/img/run/map/center_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,683},{81,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,119}</string>
			</dict>
			<key>Horse/img/run/map/finishLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,1},{16,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,268}</string>
			</dict>
			<key>Horse/img/run/map/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,271},{16,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,268}</string>
			</dict>
			<key>Horse/img/run/map/mapNumber_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,435},{44,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,62}</string>
			</dict>
			<key>Horse/img/run/map/mapNumber_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,541},{28,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,59}</string>
			</dict>
			<key>Horse/img/run/map/mapNumber_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,435},{44,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,60}</string>
			</dict>
			<key>Horse/img/run/map/mapNumber_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,499},{44,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,62}</string>
			</dict>
			<key>Horse/img/run/map/mapNumber_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,481},{44,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,59}</string>
			</dict>
			<key>Horse/img/run/map/mapNumber_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,499},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,61}</string>
			</dict>
			<key>Horse/img/run/map/mapNumber_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,435},{44,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,62}</string>
			</dict>
			<key>Horse/img/run/map/out_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,984},{85,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,39}</string>
			</dict>
			<key>Horse/img/run/map/out_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,388},{179,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,68}</string>
			</dict>
			<key>Horse/img/run/map/start_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,918},{150,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,105}</string>
			</dict>
			<key>Horse/img/run/map/start_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,388},{142,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,42}</string>
			</dict>
			<key>Horse/img/run/map/start_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,589},{135,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,94}</string>
			</dict>
			<key>Horse/img/run/map/start_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,589},{131,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,92}</string>
			</dict>
			<key>Horse/img/run/map/center_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,569},{297,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,180}</string>
			</dict>
			<key>Horse/img/run/map/center_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1},{432,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{432,278}</string>
			</dict>
			<key>Horse/img/run/map/center_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1},{766,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{766,119}</string>
			</dict>
			<key>Horse/img/run/map/out_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{590,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{590,385}</string>
			</dict>
			<key>Horse/img/run/map/start_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,751},{253,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,210}</string>
			</dict>
			<key>Horse/img/run/map/start_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,388},{199,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,310}</string>
			</dict>
			<key>Horse/img/run/map/gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,769},{320,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,213}</string>
			</dict>
			<key>Horse/img/run/map/center_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,388},{528,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{529,126}</string>
			</dict>
			<key>Horse/img/run/map/center_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,589},{156,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,85}</string>
			</dict>
			<key>Horse/img/run/map/rednumber_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,1},{11,14}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>
			<key>Horse/img/run/map/rednumber_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,144},{7,14}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>
			<key>Horse/img/run/map/rednumber_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,17},{11,14}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>
			<key>Horse/img/run/map/rednumber_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,33},{11,14}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>
			<key>Horse/img/run/map/rednumber_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,49},{11,14}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>
			<key>Horse/img/run/map/rednumber_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,128},{10,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>
			<key>Horse/img/run/map/rednumber_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,113},{11,13}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>
			<key>Horse/img/run/map/rednumber_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,65},{11,14}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>
			<key>Horse/img/run/map/rednumber_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,81},{11,14}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>
			<key>Horse/img/run/map/rednumber_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,97},{11,14}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mapRes.png</string>
			<key>realTextureFileName</key>
			<string>mapRes.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>