<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qh_aohanmajiang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{169,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,39}}</string>
                <key>sourceSize</key>
                <string>{169,39}</string>
            </dict>
            <key>qh_baichengmajiang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{167,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,39}}</string>
                <key>sourceSize</key>
                <string>{167,39}</string>
            </dict>
            <key>qh_changchunmmajiang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,342},{166,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,39}}</string>
                <key>sourceSize</key>
                <string>{166,39}</string>
            </dict>
            <key>qh_chifengmajiang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>qh_doudizhu_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,207},{122,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,39}}</string>
                <key>sourceSize</key>
                <string>{122,39}</string>
            </dict>
            <key>qh_dousanzhang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,43},{127,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,38}}</string>
                <key>sourceSize</key>
                <string>{127,38}</string>
            </dict>
            <key>qh_doushuangshi_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,84},{125,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,39}}</string>
                <key>sourceSize</key>
                <string>{125,39}</string>
            </dict>
            <key>qh_fangzhengmajiang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>qh_fengkuangpinshi_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{166,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,39}}</string>
                <key>sourceSize</key>
                <string>{166,39}</string>
            </dict>
            <key>qh_fpinshi_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,248},{82,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,39}}</string>
                <key>sourceSize</key>
                <string>{82,39}</string>
            </dict>
            <key>qh_fuxinmajiang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,172},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>qh_fztiandakeng_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,39}}</string>
                <key>sourceSize</key>
                <string>{209,39}</string>
            </dict>
            <key>qh_gandengyan_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,166},{122,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,39}}</string>
                <key>sourceSize</key>
                <string>{122,39}</string>
            </dict>
            <key>qh_gangshiwuzhang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{169,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,40}}</string>
                <key>sourceSize</key>
                <string>{169,40}</string>
            </dict>
            <key>qh_heishanmajiang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,167},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>qh_jilinmajiang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{166,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,39}}</string>
                <key>sourceSize</key>
                <string>{166,39}</string>
            </dict>
            <key>qh_nonganmajiang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,342},{167,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,39}}</string>
                <key>sourceSize</key>
                <string>{167,39}</string>
            </dict>
            <key>qh_paodekuai_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,125},{124,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,39}}</string>
                <key>sourceSize</key>
                <string>{124,39}</string>
            </dict>
            <key>qh_paoyao_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,208},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>qh_pingzhuangmajiang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{167,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,39}}</string>
                <key>sourceSize</key>
                <string>{167,39}</string>
            </dict>
            <key>qh_saolei_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,208},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>qh_songyuankuaiting_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,126},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>qh_songyuanmanting_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,85},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>qh_suihuamajiang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,44},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>qh_tiandakeng_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{126,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,39}}</string>
                <key>sourceSize</key>
                <string>{126,39}</string>
            </dict>
            <key>qh_tuidaohu_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,43},{125,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,39}}</string>
                <key>sourceSize</key>
                <string>{125,39}</string>
            </dict>
            <key>qh_wudan_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>qh_xueliuchenghe_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{169,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,39}}</string>
                <key>sourceSize</key>
                <string>{169,39}</string>
            </dict>
            <key>qh_xuezhandaodi_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{169,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,39}}</string>
                <key>sourceSize</key>
                <string>{169,39}</string>
            </dict>
            <key>qhjinzhoumajiang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{167,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,39}}</string>
                <key>sourceSize</key>
                <string>{167,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameTitle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:686d3875a4d809ed801eec7c10809a19:1/1$</string>
            <key>textureFileName</key>
            <string>gameTitle.png</string>
        </dict>
    </dict>
</plist>
