<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ty_buyudaren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{0,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_caishendao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{214,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_dantiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{428,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_doudizhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{642,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_dousanzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{856,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_feiqinzoushou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1070,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_fengkuangniuniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1284,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_fzhtiandakeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1498,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_gangshiwuzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1712,0},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_hongbaodazhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{0,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_liangshanhaohan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{214,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_likuipiyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{428,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_paodekuai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{642,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_paoyao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{856,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_pinshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1070,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_tiandakeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1284,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_xingyunzhzhzhuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1498,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ty_xiyouji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{1712,208},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameIconShadow.png</string>
            <key>size</key>
            <string>{1926,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5049b6c60615c7922bbe60c0ae8d0e6:475c688bf477f3274e5d0b36046696b8:4585153b47d755b23b7467e6801bec50$</string>
            <key>textureFileName</key>
            <string>gameIconShadow.png</string>
        </dict>
    </dict>
</plist>
