<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caishendao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,89}</string>
                <key>spriteSourceSize</key>
                <string>{78,89}</string>
                <key>textureRect</key>
                <string>{{0,0},{78,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dantiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,98}</string>
                <key>spriteSourceSize</key>
                <string>{81,98}</string>
                <key>textureRect</key>
                <string>{{78,0},{81,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feiqinzoushou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,68}</string>
                <key>spriteSourceSize</key>
                <string>{69,68}</string>
                <key>textureRect</key>
                <string>{{159,0},{69,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fengkuangpinshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{68,88}</string>
                <key>textureRect</key>
                <string>{{228,0},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongbaosaolei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,83}</string>
                <key>spriteSourceSize</key>
                <string>{100,83}</string>
                <key>textureRect</key>
                <string>{{296,0},{100,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuihuzhuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{102,104}</string>
                <key>textureRect</key>
                <string>{{396,0},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiyouji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,90}</string>
                <key>spriteSourceSize</key>
                <string>{64,90}</string>
                <key>textureRect</key>
                <string>{{498,0},{64,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi-xiaociji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,29}</string>
                <key>spriteSourceSize</key>
                <string>{72,29}</string>
                <key>textureRect</key>
                <string>{{562,0},{72,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jiesuan_xiaociji.png</string>
            <key>size</key>
            <string>{634,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:855fa5a85749b2e2266615f40a26d27d:8dd12c25d54f3c9bf64ec31f177d7e07:429ff8d9e91c0242446d6ae273e48231$</string>
            <key>textureFileName</key>
            <string>jiesuan_xiaociji.png</string>
        </dict>
    </dict>
</plist>
