<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gq_zi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,265},{47,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>gq_zi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,60},{56,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{58,98}</string>
            </dict>
            <key>gq_zi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{29,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{29,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>gq_zi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,178},{36,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{36,96}}</string>
                <key>sourceSize</key>
                <string>{58,98}</string>
            </dict>
            <key>gq_zi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,265},{45,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>gq_zi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{54,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,98}}</string>
                <key>sourceSize</key>
                <string>{58,98}</string>
            </dict>
            <key>gq_zi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,314},{43,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>gq_zi_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{52,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,98}}</string>
                <key>sourceSize</key>
                <string>{58,98}</string>
            </dict>
            <key>gq_zi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>gq_zi_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,118},{58,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,96}}</string>
                <key>sourceSize</key>
                <string>{58,98}</string>
            </dict>
            <key>gq_zi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{45,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>gq_zi_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{52,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,96}}</string>
                <key>sourceSize</key>
                <string>{58,98}</string>
            </dict>
            <key>gq_zi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,200},{49,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>gq_zi_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{56,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{58,98}</string>
            </dict>
            <key>gq_zi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,274},{45,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{45,70}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>gq_zi_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,102},{52,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,96}}</string>
                <key>sourceSize</key>
                <string>{58,98}</string>
            </dict>
            <key>gq_zi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{47,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>gq_zi_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{56,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{58,98}</string>
            </dict>
            <key>gq_zi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,216},{47,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>gq_zi_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{58,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nationaDayFont.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f98971abbae7933d5a303b3823002ad4:1/1$</string>
            <key>textureFileName</key>
            <string>nationaDayFont.png</string>
        </dict>
    </dict>
</plist>
