<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bydr_bg_function.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,183},{95,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,120}}</string>
                <key>sourceSize</key>
                <string>{95,120}</string>
            </dict>
            <key>bydr_bg_jns.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,351},{73,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,20}}</string>
                <key>sourceSize</key>
                <string>{73,20}</string>
            </dict>
            <key>bydr_game_btn_bd.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,426},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bydr_game_btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,429},{76,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,89}}</string>
                <key>sourceSize</key>
                <string>{76,89}</string>
            </dict>
            <key>bydr_game_btn_fingerling.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,409},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>bydr_game_btn_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,361},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bydr_game_btn_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,252},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bydr_game_btn_lf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,351},{76,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,89}}</string>
                <key>sourceSize</key>
                <string>{76,89}</string>
            </dict>
            <key>bydr_game_btn_lf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,351},{76,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,89}}</string>
                <key>sourceSize</key>
                <string>{76,89}</string>
            </dict>
            <key>bydr_game_btn_locktime.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,297},{92,97}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,97}}</string>
                <key>sourceSize</key>
                <string>{98,97}</string>
            </dict>
            <key>bydr_game_btn_mz.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,391},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bydr_game_btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,405},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>bydr_game_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,429},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>bydr_game_btn_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,297},{83,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,92}}</string>
                <key>sourceSize</key>
                <string>{83,92}</string>
            </dict>
            <key>bydr_game_btn_unLocktime.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,305},{98,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,97}}</string>
                <key>sourceSize</key>
                <string>{98,97}</string>
            </dict>
            <key>bydr_game_btn_xianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,464},{41,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,67}}</string>
                <key>sourceSize</key>
                <string>{41,67}</string>
            </dict>
            <key>bydr_game_btn_xuzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,391},{83,97}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>bydr_game_btn_yingcang.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,183},{42,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,67}}</string>
                <key>sourceSize</key>
                <string>{42,67}</string>
            </dict>
            <key>bydr_game_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,300},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>bydr_game_icon_ddjr.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,157},{224,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,54}}</string>
                <key>sourceSize</key>
                <string>{224,54}</string>
            </dict>
            <key>bydr_game_icon_pochang.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,354},{108,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,69}}</string>
                <key>sourceSize</key>
                <string>{108,69}</string>
            </dict>
            <key>bydr_game_img_boss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{232,153}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{232,153}}</string>
                <key>sourceSize</key>
                <string>{232,255}</string>
            </dict>
            <key>bydr_game_img_boss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{216,255}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{216,255}}</string>
                <key>sourceSize</key>
                <string>{232,255}</string>
            </dict>
            <key>bydr_game_img_boss_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,157},{192,193}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{192,193}}</string>
                <key>sourceSize</key>
                <string>{232,255}</string>
            </dict>
            <key>bydr_game_img_fenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,259},{188,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,36}}</string>
                <key>sourceSize</key>
                <string>{188,36}</string>
            </dict>
            <key>bydr_game_img_paot.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{184,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,95}}</string>
                <key>sourceSize</key>
                <string>{184,95}</string>
            </dict>
            <key>bydr_game_lt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,350}}</string>
                <key>sourceSize</key>
                <string>{356,350}</string>
            </dict>
            <key>bydr_game_lt_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,99},{309,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,2}}</string>
                <key>sourceSize</key>
                <string>{309,2}</string>
            </dict>
            <key>bydr_game_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,99},{142,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,82}}</string>
                <key>sourceSize</key>
                <string>{142,82}</string>
            </dict>
            <key>bydr_img_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{284,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,151}}</string>
                <key>sourceSize</key>
                <string>{284,151}</string>
            </dict>
            <key>bydr_ui_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,351},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_classic_ui.png</string>
            <key>size</key>
            <string>{1003,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9caccafccf950d94be50cea269a16aa:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_classic_ui.png</string>
        </dict>
    </dict>
</plist>
