<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bydr_tj_f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,893},{206,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,76},{206,109}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,482},{210,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,47},{210,167}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,322},{200,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,53},{200,155}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,322},{206,139}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,53},{206,139}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{204,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,72},{204,117}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{212,211}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{212,211}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{212,251}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,215},{208,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,78},{208,105}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,694},{160,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{160,197}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,727},{190,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,52},{190,157}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,886},{166,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,66},{166,129}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{204,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{204,225}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{158,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{158,261}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{214,165}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,48},{214,165}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
            <key>bydr_tj_f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,530},{196,195}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,33},{196,195}}</string>
                <key>sourceSize</key>
                <string>{230,261}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_classic_ui_2.png</string>
            <key>size</key>
            <string>{551,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48fafdaef95320b50704b6bd2f6987f6:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_classic_ui_2.png</string>
        </dict>
    </dict>
</plist>
