<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_bg_ptsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{671,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,107}}</string>
                <key>sourceSize</key>
                <string>{671,107}</string>
            </dict>
            <key>fish_btn_lijitixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,219},{344,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,141}}</string>
                <key>sourceSize</key>
                <string>{344,141}</string>
            </dict>
            <key>fish_btn_qianwangdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{335,166}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{335,166}}</string>
                <key>sourceSize</key>
                <string>{355,182}</string>
            </dict>
            <key>fish_btn_qianwangduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,110},{187,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,175}}</string>
                <key>sourceSize</key>
                <string>{187,175}</string>
            </dict>
            <key>fish_hb_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,755},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>fish_img_beizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,755},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>fish_img_hbclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,611},{130,142}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,45},{130,142}}</string>
                <key>sourceSize</key>
                <string>{132,188}</string>
            </dict>
            <key>fish_img_hbopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,515},{132,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,188}}</string>
                <key>sourceSize</key>
                <string>{132,188}</string>
            </dict>
            <key>fish_img_hbopen_fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,219},{30,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>fish_img_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,362},{284,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,151}}</string>
                <key>sourceSize</key>
                <string>{284,151}</string>
            </dict>
            <key>fish_img_yc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{850,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{850,106}}</string>
                <key>sourceSize</key>
                <string>{850,106}</string>
            </dict>
            <key>fish_num_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,905},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>fish_tc_bg_darkblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,830},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>fish_tj_bg_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,705},{164,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,198}}</string>
                <key>sourceSize</key>
                <string>{164,198}</string>
            </dict>
            <key>fish_tj_img_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,504},{314,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,75}}</string>
                <key>sourceSize</key>
                <string>{314,75}</string>
            </dict>
            <key>fish_tj_img_fish01.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,905},{149,92}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{149,92}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish02.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,598},{145,130}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{145,130}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish03.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,846},{153,120}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{153,120}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish04.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,362},{151,142}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{151,142}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish05.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{157,108}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{157,108}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish06.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,416},{159,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,48},{159,82}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish07.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,287},{159,136}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{159,136}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish08.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,500},{163,96}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{163,96}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish09.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,218},{157,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{157,104}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish10.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,112},{157,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{157,104}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish11.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,324},{159,90}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,42},{159,90}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish12.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,730},{149,98}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{149,98}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish13.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,855},{145,142}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{145,142}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish15.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,855},{139,136}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{139,136}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish1500.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,515},{212,166}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{212,166}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>fish_tj_img_fish17.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,680},{107,164}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{107,164}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish18.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,448},{161,122}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{161,122}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish19.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,844},{151,108}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,34},{151,108}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{161,154}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{161,154}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_fish80.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,515},{163,132}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{163,132}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fish_tj_img_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,683},{170,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,204}}</string>
                <key>sourceSize</key>
                <string>{170,204}</string>
            </dict>
            <key>fish_tj_img_taizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{290,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,283}}</string>
                <key>sourceSize</key>
                <string>{290,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_common_ui_2.png</string>
            <key>size</key>
            <string>{1023,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f28084ecf5547d2104ba01fdefacce4b:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_common_ui_2.png</string>
        </dict>
    </dict>
</plist>
