<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dsz_pk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,439},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>dsz_pk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,439},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>dsz_pk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,439},{62,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,67}}</string>
                <key>sourceSize</key>
                <string>{62,67}</string>
            </dict>
            <key>dsz_pk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>dsz_pk_b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,264},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>dsz_pk_b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,422},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>dsz_pk_b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,371},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>dsz_pk_b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,266},{33,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>sourceSize</key>
                <string>{33,50}</string>
            </dict>
            <key>dsz_pk_b05.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,432},{29,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,51}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>dsz_pk_b06.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,368},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>dsz_pk_b07.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,400},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>dsz_pk_b08.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,367},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>dsz_pk_b09.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,335},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>dsz_pk_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,161},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>dsz_pk_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,264},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>dsz_pk_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,439},{35,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,57}}</string>
                <key>sourceSize</key>
                <string>{35,57}</string>
            </dict>
            <key>dsz_pk_b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,298},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>dsz_pk_b14.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,31},{27,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,150}}</string>
                <key>sourceSize</key>
                <string>{27,150}</string>
            </dict>
            <key>dsz_pk_b15.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,162},{100,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,143}}</string>
                <key>sourceSize</key>
                <string>{100,143}</string>
            </dict>
            <key>dsz_pk_pai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,217}}</string>
                <key>sourceSize</key>
                <string>{161,217}</string>
            </dict>
            <key>dsz_pk_pai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,221},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>dsz_pk_pai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{155,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>sourceSize</key>
                <string>{155,216}</string>
            </dict>
            <key>dsz_pk_r01.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,214},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>dsz_pk_r02.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,369},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>dsz_pk_r03.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,318},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>dsz_pk_r04.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,56},{33,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>sourceSize</key>
                <string>{33,50}</string>
            </dict>
            <key>dsz_pk_r05.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,475},{29,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,51}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>dsz_pk_r06.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,334},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>dsz_pk_r07.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,401},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>dsz_pk_r08.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,316},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>dsz_pk_r09.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,301},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>dsz_pk_r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,108},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>dsz_pk_r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{33,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,52}}</string>
                <key>sourceSize</key>
                <string>{33,52}</string>
            </dict>
            <key>dsz_pk_r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,439},{35,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,57}}</string>
                <key>sourceSize</key>
                <string>{35,57}</string>
            </dict>
            <key>dsz_pk_r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,264},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>dsz_pk_r14.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{27,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,150}}</string>
                <key>sourceSize</key>
                <string>{27,150}</string>
            </dict>
            <key>dsz_pk_r15.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,60},{100,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,143}}</string>
                <key>sourceSize</key>
                <string>{100,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73eeceedf71bbc5580b6207cbad0e317:1/1$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
