<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dhxy_baijinjin_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{384,506}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{384,506}}</string>
                <key>sourceSize</key>
                <string>{488,568}</string>
            </dict>
            <key>dhxy_chunsanshi_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1263},{470,538}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{470,538}}</string>
                <key>sourceSize</key>
                <string>{488,568}</string>
            </dict>
            <key>dhxy_niumowang_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,703},{380,534}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,28},{380,534}}</string>
                <key>sourceSize</key>
                <string>{488,568}</string>
            </dict>
            <key>dhxy_qitiandasheng_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{634,699}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,699}}</string>
                <key>sourceSize</key>
                <string>{634,699}</string>
            </dict>
            <key>dhxy_tangseng_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{334,558}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{334,558}}</string>
                <key>sourceSize</key>
                <string>{488,568}</string>
            </dict>
            <key>dhxy_tieshangongzhu_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,536},{354,520}}</string>
                <key>offset</key>
                <string>{34,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,48},{354,520}}</string>
                <key>sourceSize</key>
                <string>{488,568}</string>
            </dict>
            <key>dhxy_zhizunbao_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{326,532}}</string>
                <key>offset</key>
                <string>{61,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,27},{326,532}}</string>
                <key>sourceSize</key>
                <string>{488,568}</string>
            </dict>
            <key>dhxy_zhubajie_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{290,506}}</string>
                <key>offset</key>
                <string>{21,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,46},{290,506}}</string>
                <key>sourceSize</key>
                <string>{488,568}</string>
            </dict>
            <key>dhxy_zixiaxianzi_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1239},{488,526}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{488,526}}</string>
                <key>sourceSize</key>
                <string>{488,568}</string>
            </dict>
            <key>msz_mo.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,536},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>msz_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,602},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23d0af49988a6ef404c33903fa9efc96:1/1$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
