<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Left/3/aa18.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>282</integer>
				<key>originalHeight</key>
				<integer>293</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Left/3/aa19.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>282</integer>
				<key>originalHeight</key>
				<integer>293</integer>
				<key>x</key>
				<integer>284</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Left/3/aa20.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>282</integer>
				<key>originalHeight</key>
				<integer>293</integer>
				<key>x</key>
				<integer>568</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Left/3/aa21.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>282</integer>
				<key>originalHeight</key>
				<integer>293</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>295</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Left/3/aa22.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>282</integer>
				<key>originalHeight</key>
				<integer>293</integer>
				<key>x</key>
				<integer>284</integer>
				<key>y</key>
				<integer>295</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Left/3/aa23.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>282</integer>
				<key>originalHeight</key>
				<integer>293</integer>
				<key>x</key>
				<integer>568</integer>
				<key>y</key>
				<integer>295</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Left/0/aa0.png</key>
			<dict>
				<key>width</key>
				<integer>287</integer>
				<key>height</key>
				<integer>294</integer>
				<key>originalWidth</key>
				<integer>287</integer>
				<key>originalHeight</key>
				<integer>294</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>590</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Left/0/aa1.png</key>
			<dict>
				<key>width</key>
				<integer>287</integer>
				<key>height</key>
				<integer>294</integer>
				<key>originalWidth</key>
				<integer>287</integer>
				<key>originalHeight</key>
				<integer>294</integer>
				<key>x</key>
				<integer>289</integer>
				<key>y</key>
				<integer>590</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Left/0/aa2.png</key>
			<dict>
				<key>width</key>
				<integer>287</integer>
				<key>height</key>
				<integer>294</integer>
				<key>originalWidth</key>
				<integer>287</integer>
				<key>originalHeight</key>
				<integer>294</integer>
				<key>x</key>
				<integer>578</integer>
				<key>y</key>
				<integer>590</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>left_animation2.png</string>
			<key>realTextureFileName</key>
			<string>left_animation2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>