<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oldfish14_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{454,246}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,166},{454,246}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{466,242}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,163},{466,242}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{472,240}}</string>
                <key>offset</key>
                <string>{19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,160},{472,240}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{472,240}}</string>
                <key>offset</key>
                <string>{19,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,152},{472,240}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,246},{440,206}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,212},{440,206}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{426,192}}</string>
                <key>offset</key>
                <string>{10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,237},{426,192}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,454},{418,174}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,243},{418,174}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,630},{370,174}}</string>
                <key>offset</key>
                <string>{-12,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,332},{370,174}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,630},{324,166}}</string>
                <key>offset</key>
                <string>{-5,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,395},{324,166}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
            <key>oldfish14_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,806},{292,150}}</string>
                <key>offset</key>
                <string>{0,-206}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,431},{292,150}}</string>
                <key>sourceSize</key>
                <string>{510,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_oldfishs_11.png</string>
            <key>size</key>
            <string>{998,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a6d78e8d8bf1662f39d17fa00303648:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_oldfishs_11.png</string>
        </dict>
    </dict>
</plist>
