<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oldfish10_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,402},{184,190}}</string>
                <key>offset</key>
                <string>{31,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,32},{184,190}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,426},{186,194}}</string>
                <key>offset</key>
                <string>{32,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,37},{186,194}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{186,202}}</string>
                <key>offset</key>
                <string>{32,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,43},{186,202}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{186,216}}</string>
                <key>offset</key>
                <string>{32,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,56},{186,216}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,218}}</string>
                <key>offset</key>
                <string>{32,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,76},{186,218}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{186,198}}</string>
                <key>offset</key>
                <string>{32,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,99},{186,198}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,622},{186,192}}</string>
                <key>offset</key>
                <string>{32,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,96},{186,192}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{186,204}}</string>
                <key>offset</key>
                <string>{32,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,87},{186,204}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{182,216}}</string>
                <key>offset</key>
                <string>{31,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,51},{182,216}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,220},{182,204}}</string>
                <key>offset</key>
                <string>{30,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,34},{182,204}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,816},{182,190}}</string>
                <key>offset</key>
                <string>{30,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,30},{182,190}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,784},{182,188}}</string>
                <key>offset</key>
                <string>{31,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,32},{182,188}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,206},{186,194}}</string>
                <key>offset</key>
                <string>{32,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,28},{186,194}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,578},{186,94}}</string>
                <key>offset</key>
                <string>{32,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,115},{186,94}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,390},{186,76}}</string>
                <key>offset</key>
                <string>{32,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,104},{186,76}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,390},{186,94}}</string>
                <key>offset</key>
                <string>{32,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,93},{186,94}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{186,140}}</string>
                <key>offset</key>
                <string>{32,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,59},{186,140}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,202},{186,172}}</string>
                <key>offset</key>
                <string>{32,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,62},{186,172}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,594},{184,188}}</string>
                <key>offset</key>
                <string>{33,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,77},{184,188}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>oldfish10_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{180,198}}</string>
                <key>offset</key>
                <string>{32,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,76},{180,198}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_oldfishs_3.png</string>
            <key>size</key>
            <string>{744,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:894a9832d8fb41356c56918ca9afe9c3:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_oldfishs_3.png</string>
        </dict>
    </dict>
</plist>
