<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oldfish12_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,426},{280,200}}</string>
                <key>offset</key>
                <string>{28,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,123},{280,200}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,714},{282,204}}</string>
                <key>offset</key>
                <string>{30,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,122},{282,204}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{286,208}}</string>
                <key>offset</key>
                <string>{31,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,122},{286,208}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,212},{290,212}}</string>
                <key>offset</key>
                <string>{33,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,118},{290,212}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,206},{290,212}}</string>
                <key>offset</key>
                <string>{33,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,115},{290,212}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{288,206}}</string>
                <key>offset</key>
                <string>{32,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,115},{288,206}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{286,202}}</string>
                <key>offset</key>
                <string>{31,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,114},{286,202}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{284,196}}</string>
                <key>offset</key>
                <string>{31,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,114},{284,196}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,426},{280,192}}</string>
                <key>offset</key>
                <string>{29,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,115},{280,192}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,708},{280,192}}</string>
                <key>offset</key>
                <string>{28,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,119},{280,192}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,626},{276,196}}</string>
                <key>offset</key>
                <string>{27,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,121},{276,196}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,426},{276,198}}</string>
                <key>offset</key>
                <string>{27,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,122},{276,198}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,208}}</string>
                <key>offset</key>
                <string>{33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,127},{294,208}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{294,202}}</string>
                <key>offset</key>
                <string>{33,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,134},{294,202}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
            <key>oldfish12_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,824},{270,140}}</string>
                <key>offset</key>
                <string>{25,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,198},{270,140}}</string>
                <key>sourceSize</key>
                <string>{360,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_oldfishs_5.png</string>
            <key>size</key>
            <string>{882,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cbcd5d80efa29cdd028fd96226756f5:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_oldfishs_5.png</string>
        </dict>
    </dict>
</plist>
