<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,784},{214,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,85}}</string>
                <key>sourceSize</key>
                <string>{214,85}</string>
            </dict>
            <key>klb_mj_chuangjianfangjian_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{338,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,219}}</string>
                <key>sourceSize</key>
                <string>{338,219}</string>
            </dict>
            <key>klb_mj_gengduoyouxi_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,871},{271,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,94}}</string>
                <key>sourceSize</key>
                <string>{271,94}</string>
            </dict>
            <key>klb_mj_goumai_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,967},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>klb_mj_haoyoufang_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,439},{271,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,343}}</string>
                <key>sourceSize</key>
                <string>{271,343}</string>
            </dict>
            <key>klb_mj_jiarufangjian_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{338,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,217}}</string>
                <key>sourceSize</key>
                <string>{338,217}</string>
            </dict>
            <key>klb_mj_jinbi_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,967},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>klb_mj_jingbichang_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,435}}</string>
                <key>sourceSize</key>
                <string>{342,435}</string>
            </dict>
            <key>klb_mj_renshu_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,872},{110,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,32}}</string>
                <key>sourceSize</key>
                <string>{110,32}</string>
            </dict>
            <key>klb_mj_shangcheng_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{125,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,54}}</string>
                <key>sourceSize</key>
                <string>{125,54}</string>
            </dict>
            <key>klb_mj_touxiang_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,949},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>klb_mj_touxiang_mengban.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,949},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>klb_mj_vip_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,984},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>klb_mj_vip_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,999},{45,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,18}}</string>
                <key>sourceSize</key>
                <string>{45,18}</string>
            </dict>
            <key>klb_mj_xiadi_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{431,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,71}}</string>
                <key>sourceSize</key>
                <string>{431,71}</string>
            </dict>
            <key>klb_mj_xiadi_di02.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,868},{192,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,79}}</string>
                <key>sourceSize</key>
                <string>{192,79}</string>
            </dict>
            <key>klb_mj_xin_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,999},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>klb_mj_xinxi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,784},{307,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,82}}</string>
                <key>sourceSize</key>
                <string>{307,82}</string>
            </dict>
            <key>klb_mj_zijin_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,967},{70,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,42}}</string>
                <key>sourceSize</key>
                <string>{70,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuangchun.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed12c22fda41d73a2db15d26ddf2484c:1/1$</string>
            <key>textureFileName</key>
            <string>chuangchun.png</string>
        </dict>
    </dict>
</plist>
