<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_1_23.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_1_24.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_1_25.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_1_26.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_1_27.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_1_28.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_1_29.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_1_30.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_1_31.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_1_32.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_1_33.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_1_34.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_1_35.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_card_type_31.png</string>
            <key>size</key>
            <string>{927,407}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23b4b74cbadd4d8f37b4ddbb23e9a1cc$</string>
            <key>textureFileName</key>
            <string>p_card_type_31.png</string>
        </dict>
    </dict>
</plist>
