<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_0_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>0_0_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>0_0_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>1_0_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>1_0_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>1_0_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>2_0_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>2_0_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>2_0_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_0_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_0_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>3_0_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_0_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_0_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_0_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>5_0_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>5_0_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>5_0_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>6_0_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>6_0_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>6_0_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_0_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,542},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_0_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,542},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_0_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,542},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>8_0_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,542},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>8_0_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>8_0_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,677},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_west_card.png</string>
            <key>size</key>
            <string>{927,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eede8ea7415da9f7c876edc7a32151b$</string>
            <key>textureFileName</key>
            <string>p_west_card.png</string>
        </dict>
    </dict>
</plist>
