<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shz-res-animation-19-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,697},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,558},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,697},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,558},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,419},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,280},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,260},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,141},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,141},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,776},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,518},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,260},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
            <key>shz-res-animation-19-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,137}}</string>
                <key>sourceSize</key>
                <string>{256,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>right.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ba2302efde2ca048890fd2920df2463:1/1$</string>
            <key>textureFileName</key>
            <string>right.png</string>
        </dict>
    </dict>
</plist>
