<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>msz_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{298,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,76}}</string>
                <key>sourceSize</key>
                <string>{298,76}</string>
            </dict>
            <key>msz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,396},{298,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,78}}</string>
                <key>sourceSize</key>
                <string>{298,78}</string>
            </dict>
            <key>msz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{388,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,77}}</string>
                <key>sourceSize</key>
                <string>{388,77}</string>
            </dict>
            <key>msz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{392,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,78}}</string>
                <key>sourceSize</key>
                <string>{392,78}</string>
            </dict>
            <key>msz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{391,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,77}}</string>
                <key>sourceSize</key>
                <string>{391,77}</string>
            </dict>
            <key>msz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{392,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,77}}</string>
                <key>sourceSize</key>
                <string>{392,77}</string>
            </dict>
            <key>msz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{423,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,69}}</string>
                <key>sourceSize</key>
                <string>{423,69}</string>
            </dict>
            <key>msz_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{392,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,77}}</string>
                <key>sourceSize</key>
                <string>{392,77}</string>
            </dict>
            <key>msz_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{392,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,77}}</string>
                <key>sourceSize</key>
                <string>{392,77}</string>
            </dict>
            <key>msz_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{392,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,78}}</string>
                <key>sourceSize</key>
                <string>{392,78}</string>
            </dict>
            <key>msz_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{392,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,77}}</string>
                <key>sourceSize</key>
                <string>{392,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wintag.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d4e8cc90eb8a03e72e28422e2dbf237:1/1$</string>
            <key>textureFileName</key>
            <string>wintag.png</string>
        </dict>
    </dict>
</plist>
