<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dipan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,122}</string>
                <key>spriteSourceSize</key>
                <string>{236,122}</string>
                <key>textureRect</key>
                <string>{{263,777},{236,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt-dezhou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,178}</string>
                <key>spriteSourceSize</key>
                <string>{158,178}</string>
                <key>textureRect</key>
                <string>{{83,759},{158,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt-ershiyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,172}</string>
                <key>spriteSourceSize</key>
                <string>{164,172}</string>
                <key>textureRect</key>
                <string>{{281,459},{164,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt-rummy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,172}</string>
                <key>spriteSourceSize</key>
                <string>{150,172}</string>
                <key>textureRect</key>
                <string>{{279,625},{150,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt-teenpatti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,174}</string>
                <key>spriteSourceSize</key>
                <string>{194,174}</string>
                <key>textureRect</key>
                <string>{{83,583},{194,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title-dezhou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,138}</string>
                <key>spriteSourceSize</key>
                <string>{580,138}</string>
                <key>textureRect</key>
                <string>{{1,1},{580,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title-ershiyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,138}</string>
                <key>spriteSourceSize</key>
                <string>{580,138}</string>
                <key>textureRect</key>
                <string>{{141,1},{580,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title-luckturn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,108}</string>
                <key>spriteSourceSize</key>
                <string>{456,108}</string>
                <key>textureRect</key>
                <string>{{281,1},{456,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title-rummy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,80}</string>
                <key>spriteSourceSize</key>
                <string>{334,80}</string>
                <key>textureRect</key>
                <string>{{1,583},{334,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title-teenpatti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,108}</string>
                <key>spriteSourceSize</key>
                <string>{456,108}</string>
                <key>textureRect</key>
                <string>{{391,1},{456,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlackJack_GameIcon.png</string>
            <key>size</key>
            <string>{500,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b2ea12382c8f4fa4aa19718c92268d5:9364835863200cadd4de7fee893d4b42:ab0b07b2be220a5f6494dc6246a19823$</string>
            <key>textureFileName</key>
            <string>BlackJack_GameIcon.png</string>
        </dict>
    </dict>
</plist>
