<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ch-chongzhi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{130,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,28},{130,34}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-chongzhi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,130},{166,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{166,44}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-chongzhi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{166,50}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{166,50}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-chongzhi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,212},{158,64}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{158,64}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-chongzhi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,70}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,70}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-chongzhi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{162,56}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{162,56}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-chulaizhadao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{130,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{130,34}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-xiazhu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,38},{130,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{130,34}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-xiazhu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,46}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{180,46}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-xiazhu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,176},{160,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{160,44}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-xiazhu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{168,62}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{168,62}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-xiazhu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{158,54}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{158,54}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-xiazhu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,74},{154,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{154,54}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-yingqu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{130,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{130,34}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-yingqu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,278},{156,48}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{156,48}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-yingqu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,110},{166,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{166,52}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-yingqu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,164},{164,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{164,46}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-yingqu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,50},{170,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{170,58}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>ch-yingqu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,222},{156,68}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{156,68}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5efb9f99f4b4e4ee566e80566f8ec0ac$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
