<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qznn_e_kuangglow02_zhang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qznn_e_kuangglow02_zhang_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,254},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qznn_e_kuangglow02_zhang_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,254},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qznn_e_kuangglow02_zhang_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,101},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qznn_e_kuangglow02_zhang_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qznn_e_kuangglow02_zhang_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qznn_e_kuangglow02_zhang_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,605},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qznn_e_kuangglow02_zhang_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qznn_e_kuangglow02_zhang_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,506},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qznn_e_kuangglow02_zhang_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,506},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qznn_e_kuangglow02_zhang_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,353},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qznn_e_zglow_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{85,85}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>qznn_e_zglow_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{93,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{93,93}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>qznn_e_zglow_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>qznn_e_zglow_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>qznn_e_zglow_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>qznn_e_zglow_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>qznn_e_zglow_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{95,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_robgame_ani_2.png</string>
            <key>size</key>
            <string>{1010,857}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0d5b07008a77c942b466268a366e48d$</string>
            <key>textureFileName</key>
            <string>p_robgame_ani_2.png</string>
        </dict>
    </dict>
</plist>
