<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_zidongchui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,114},{92,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,114},{92,91}}</string>
				<key>sourceSize</key>
				<string>{101,99}</string>
			</dict>
			<key>checkAutoHammer.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,0},{58,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{179,0},{58,220}}</string>
				<key>sourceSize</key>
				<string>{60,240}</string>
			</dict>
			<key>light.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,0},{97,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,0},{97,89}}</string>
				<key>sourceSize</key>
				<string>{101,91}</string>
			</dict>
			<key>set.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,114},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,114},{42,42}}</string>
				<key>sourceSize</key>
				<string>{43,42}</string>
			</dict>
			<key>zidongchui.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,206},{92,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,206},{92,38}}</string>
				<key>sourceSize</key>
				<string>{92,38}</string>
			</dict>
			<key>zidongchui_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{178,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,113}}</string>
				<key>sourceSize</key>
				<string>{181,119}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>automa_hammer.png</string>
			<key>size</key>
			<string>{335,244}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>automa_hammer.png</string>
		</dict>
	</dict>
</plist>
