<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_b10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{67,2},{29,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_b11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{67,158},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_b12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{106,2},{29,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_b13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{145,2},{29,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_b14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{184,2},{29,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{67,197},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{94,158},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{223,2},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{67,64},{27,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_b6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{106,64},{27,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_b7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{96,119},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_b8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{94,197},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_b9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{145,64},{27,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_r10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{67,33},{29,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_r11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{148,93},{25,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_r12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{106,33},{29,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_r13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{145,33},{29,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_r14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{184,33},{29,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_r2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{187,93},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_r3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{148,120},{25,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_r4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{223,41},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_r5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{184,64},{27,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_r6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{223,80},{27,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_r7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{214,119},{25,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_r8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{187,132},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_r9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{67,119},{27,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hs_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{67,93},{24,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hs_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{94,93},{24,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hs_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{123,119},{24,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hs_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{121,93},{24,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,82}</string>
                <key>spriteSourceSize</key>
                <string>{63,82}</string>
                <key>textureRect</key>
                <string>{{2,2},{63,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,82}</string>
                <key>spriteSourceSize</key>
                <string>{63,82}</string>
                <key>textureRect</key>
                <string>{{2,86},{63,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,82}</string>
                <key>spriteSourceSize</key>
                <string>{63,82}</string>
                <key>textureRect</key>
                <string>{{2,170},{63,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ddzpoker.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6a05ffa5c94e58e0cf60fe8bf84c36b:42f5772b63c5c198711279d3fc5542dc:e636d381c7eac9ff0b678fd03f8be822$</string>
            <key>textureFileName</key>
            <string>ddzpoker.png</string>
        </dict>
    </dict>
</plist>
