<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AIFlag.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,440},{49,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{778,440},{49,28}}</string>
				<key>sourceSize</key>
				<string>{50,30}</string>
			</dict>
			<key>activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,363},{104,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{673,363},{104,110}}</string>
				<key>sourceSize</key>
				<string>{104,110}</string>
			</dict>
			<key>btn_cancel_hosting.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,200},{185,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{605,200},{185,87}}</string>
				<key>sourceSize</key>
				<string>{194,91}</string>
			</dict>
			<key>btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,638},{59,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{377,638},{59,70}}</string>
				<key>sourceSize</key>
				<string>{86,70}</string>
			</dict>
			<key>btn_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,288},{216,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,288},{216,74}}</string>
				<key>sourceSize</key>
				<string>{216,74}</string>
			</dict>
			<key>btn_guize.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,474},{125,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{604,474},{125,39}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>
			<key>btn_huanzhuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,556},{124,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{324,556},{124,46}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>btn_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,302},{216,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,302},{216,74}}</string>
				<key>sourceSize</key>
				<string>{216,74}</string>
			</dict>
			<key>btn_liaotian.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,514},{108,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{604,514},{108,40}}</string>
				<key>sourceSize</key>
				<string>{125,47}</string>
			</dict>
			<key>btn_log.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,682},{61,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{437,682},{61,70}}</string>
				<key>sourceSize</key>
				<string>{86,70}</string>
			</dict>
			<key>btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,638},{60,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{316,638},{60,76}}</string>
				<key>sourceSize</key>
				<string>{83,84}</string>
			</dict>
			<key>btn_moret.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,288},{59,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{782,288},{59,61}}</string>
				<key>sourceSize</key>
				<string>{83,84}</string>
			</dict>
			<key>btn_prepare.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,682},{110,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{499,682},{110,47}}</string>
				<key>sourceSize</key>
				<string>{110,47}</string>
			</dict>
			<key>btn_saikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,556},{125,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{574,556},{125,38}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>
			<key>btn_shengxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,377},{124,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,377},{124,46}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>btn_sort.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,104},{126,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{637,104},{126,36}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>btn_sort_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,618},{59,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{739,618},{59,70}}</string>
				<key>sourceSize</key>
				<string>{64,70}</string>
			</dict>
			<key>btn_task.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,363},{64,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{778,363},{64,76}}</string>
				<key>sourceSize</key>
				<string>{83,84}</string>
			</dict>
			<key>btn_tuichu.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,556},{124,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{449,556},{124,36}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>
			<key>btn_tuichu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,547},{59,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{739,547},{59,70}}</string>
				<key>sourceSize</key>
				<string>{64,70}</string>
			</dict>
			<key>font_clock_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,468},{268,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,468},{268,37}}</string>
				<key>sourceSize</key>
				<string>{270,38}</string>
			</dict>
			<key>icon_clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,506},{85,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,506},{85,96}}</string>
				<key>sourceSize</key>
				<string>{87,100}</string>
			</dict>
			<key>icon_robot.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,709},{49,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{377,709},{49,28}}</string>
				<key>sourceSize</key>
				<string>{50,30}</string>
			</dict>
			<key>image_match_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,595},{172,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,595},{172,28}}</string>
				<key>sourceSize</key>
				<string>{175,28}</string>
			</dict>
			<key>img_change_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,424},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{507,424},{96,96}}</string>
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>img_fee_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,624},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,624},{51,51}}</string>
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>img_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,424},{243,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,424},{243,43}}</string>
				<key>sourceSize</key>
				<string>{243,43}</string>
			</dict>
			<key>img_zhibo_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,363},{217,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{455,363},{217,60}}</string>
				<key>sourceSize</key>
				<string>{217,60}</string>
			</dict>
			<key>info_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,474},{94,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{730,474},{94,72}}</string>
				<key>sourceSize</key>
				<string>{96,74}</string>
			</dict>
			<key>leaveFlag.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,638},{47,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{437,638},{47,28}}</string>
				<key>sourceSize</key>
				<string>{50,30}</string>
			</dict>
			<key>match_btn_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,250},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{565,250},{28,29}}</string>
				<key>sourceSize</key>
				<string>{30,31}</string>
			</dict>
			<key>match_gameover_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,521},{253,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{324,521},{253,34}}</string>
				<key>sourceSize</key>
				<string>{253,34}</string>
			</dict>
			<key>match_gameover_reduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,603},{253,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,603},{253,34}}</string>
				<key>sourceSize</key>
				<string>{253,34}</string>
			</dict>
			<key>match_icon_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,667},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{437,667},{14,14}}</string>
				<key>sourceSize</key>
				<string>{22,24}</string>
			</dict>
			<key>match_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,302},{1,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{555,302},{1,59}}</string>
				<key>sourceSize</key>
				<string>{1,59}</string>
			</dict>
			<key>match_tips_apdj.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,150},{369,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,150},{369,49}}</string>
				<key>sourceSize</key>
				<string>{369,49}</string>
			</dict>
			<key>match_tips_dengdai_former.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,150},{182,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{608,150},{182,49}}</string>
				<key>sourceSize</key>
				<string>{182,49}</string>
			</dict>
			<key>match_tips_dengdai_latter.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,250},{326,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,250},{326,51}}</string>
				<key>sourceSize</key>
				<string>{326,51}</string>
			</dict>
			<key>match_tips_jiasai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,754},{829,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,754},{829,52}}</string>
				<key>sourceSize</key>
				<string>{829,52}</string>
			</dict>
			<key>match_tips_lunkong.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,0},{604,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,0},{604,51}}</string>
				<key>sourceSize</key>
				<string>{604,51}</string>
			</dict>
			<key>match_tips_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,104},{398,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,104},{398,45}}</string>
				<key>sourceSize</key>
				<string>{400,47}</string>
			</dict>
			<key>match_tips_pipei.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,52},{556,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,52},{556,51}}</string>
				<key>sourceSize</key>
				<string>{556,51}</string>
			</dict>
			<key>match_tips_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,667},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{452,667},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>match_tips_scpm.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,200},{366,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,200},{366,49}}</string>
				<key>sourceSize</key>
				<string>{366,49}</string>
			</dict>
			<key>player_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,638},{77,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,638},{77,92}}</string>
				<key>sourceSize</key>
				<string>{77,92}</string>
			</dict>
			<key>prepare.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,302},{99,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{455,302},{99,51}}</string>
				<key>sourceSize</key>
				<string>{106,56}</string>
			</dict>
			<key>redpacket_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,104},{71,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{764,104},{71,33}}</string>
				<key>sourceSize</key>
				<string>{71,33}</string>
			</dict>
			<key>right_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{237,753}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,753}}</string>
				<key>sourceSize</key>
				<string>{237,753}</string>
			</dict>
			<key>robot_black_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,593},{73,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{492,593},{73,88}}</string>
				<key>sourceSize</key>
				<string>{77,92}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>game.png</string>
			<key>size</key>
			<string>{842,806}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>game.png</string>
		</dict>
	</dict>
</plist>
