<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,279},{41,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{663,279},{41,56}}</string>
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>game_current_hammerBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,384},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,384},{98,98}}</string>
				<key>sourceSize</key>
				<string>{103,101}</string>
			</dict>
			<key>game_hammer_countBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,435},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,435},{25,25}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>hammer_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,145},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,145},{70,73}}</string>
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>hammer_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,145},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{229,145},{70,73}}</string>
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>hammer_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,145},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{158,145},{70,73}}</string>
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>hammer_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,111},{66,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{407,111},{66,73}}</string>
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>hammer_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,425},{70,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,425},{70,71}}</string>
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>hammer_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,279},{67,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,279},{67,73}}</string>
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>hammer_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,353},{67,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,353},{67,71}}</string>
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>hammer_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{157,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,111},{157,176}}</string>
				<key>sourceSize</key>
				<string>{159,176}</string>
			</dict>
			<key>hammer_normal_ItemBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,111},{84,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,111},{84,83}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>hammer_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,219},{74,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{158,219},{74,47}}</string>
				<key>sourceSize</key>
				<string>{74,48}</string>
			</dict>
			<key>hammer_seleted_ItemBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,195},{84,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,195},{84,83}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>image_caklj.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,483},{249,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,483},{249,25}}</string>
				<key>sourceSize</key>
				<string>{249,25}</string>
			</dict>
			<key>image_hammer_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{677,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{677,110}}</string>
				<key>sourceSize</key>
				<string>{679,113}</string>
			</dict>
			<key>image_hammer_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,111},{248,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{158,111},{248,33}}</string>
				<key>sourceSize</key>
				<string>{250,35}</string>
			</dict>
			<key>image_hammer_no_selection.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,384},{84,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{344,384},{84,83}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>image_hammer_selection.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,384},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{246,384},{97,97}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>img_jjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,435},{105,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,435},{105,41}}</string>
				<key>sourceSize</key>
				<string>{105,41}</string>
			</dict>
			<key>img_lv_shortage.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,288},{146,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,288},{146,146}}</string>
				<key>sourceSize</key>
				<string>{146,146}</string>
			</dict>
			<key>img_thor.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,482},{92,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{250,482},{92,26}}</string>
				<key>sourceSize</key>
				<string>{92,26}</string>
			</dict>
			<key>tool_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,288},{201,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,288},{201,95}}</string>
				<key>sourceSize</key>
				<string>{203,95}</string>
			</dict>
			<key>txt_unlockLv.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,468},{250,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{344,468},{250,36}}</string>
				<key>sourceSize</key>
				<string>{250,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>hammer.png</string>
			<key>size</key>
			<string>{704,508}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>hammer.png</string>
		</dict>
	</dict>
</plist>
