<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{198,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,487}}</string>
                <key>sourceSize</key>
                <string>{198,487}</string>
            </dict>
            <key>lang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{198,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,487}}</string>
                <key>sourceSize</key>
                <string>{198,487}</string>
            </dict>
            <key>lang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{198,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,487}}</string>
                <key>sourceSize</key>
                <string>{198,487}</string>
            </dict>
            <key>lang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,0},{198,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,487}}</string>
                <key>sourceSize</key>
                <string>{198,487}</string>
            </dict>
            <key>lang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,0},{198,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,487}}</string>
                <key>sourceSize</key>
                <string>{198,487}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lang.png</string>
            <key>size</key>
            <string>{990,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d110e4823b99d456b67363a5689bb0f8$</string>
            <key>textureFileName</key>
            <string>lang.png</string>
        </dict>
    </dict>
</plist>
