<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_icon_yucoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,113},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>fish_img_bill.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{81,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,68}}</string>
                <key>sourceSize</key>
                <string>{81,68}</string>
            </dict>
            <key>fish_img_settlement_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{2,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,301}}</string>
                <key>sourceSize</key>
                <string>{2,301}</string>
            </dict>
            <key>fish_img_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,113},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>fish_js_btn_dhyb.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,85},{136,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,51}}</string>
                <key>sourceSize</key>
                <string>{136,51}</string>
            </dict>
            <key>fish_js_img_hb.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,85},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
            <key>fish_js_img_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{29,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,74}}</string>
                <key>sourceSize</key>
                <string>{29,74}</string>
            </dict>
            <key>fish_js_title_img_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,81}}</string>
                <key>sourceSize</key>
                <string>{385,81}</string>
            </dict>
            <key>fish_txt_dhyb.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,163},{208,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,57}}</string>
                <key>sourceSize</key>
                <string>{208,57}</string>
            </dict>
            <key>fish_txt_jstc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{205,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,58}}</string>
                <key>sourceSize</key>
                <string>{205,58}</string>
            </dict>
            <key>fish_ui_bg_blacktrans.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,72},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>fish_ui_btn_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{185,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,60}}</string>
                <key>sourceSize</key>
                <string>{185,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_buyu_settlement.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d2cdc6db6515d95cdc30c26523f3c43:1/1$</string>
            <key>textureFileName</key>
            <string>p_buyu_settlement.png</string>
        </dict>
    </dict>
</plist>
