<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,62}}</string>
                <key>sourceSize</key>
                <string>{226,62}</string>
            </dict>
            <key>lt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,154},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>lt_yuyindikuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>lt_yuyindikuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,153},{7,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,63}}</string>
                <key>sourceSize</key>
                <string>{7,63}</string>
            </dict>
            <key>lt_yuyindikuang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,66},{56,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,81}}</string>
                <key>sourceSize</key>
                <string>{56,81}</string>
            </dict>
            <key>lt_yuyindikuang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,175},{20,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,6}</string>
            </dict>
            <key>lt_yuyindikuang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,124},{65,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>lt_yuyindikuang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{137,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,24}}</string>
                <key>sourceSize</key>
                <string>{137,24}</string>
            </dict>
            <key>lt_yuyinqipao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,124},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>lt_yuyinqipao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,141},{11,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,25}}</string>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>lt_yuyinqipao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,134},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>lt_yuyinqipao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,154},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>zn_yuyin_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,191},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CommonChat.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86b69a9f6fc6940fe82520869f6613a8:1/1$</string>
            <key>textureFileName</key>
            <string>CommonChat.png</string>
        </dict>
    </dict>
</plist>
