<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wjxx_fangka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{102,0},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wjxx_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{139,0},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wjxx_nv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{167,0},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wjxx_youxibi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{189,0},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx_daojuhuawen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,5}</string>
                <key>spriteSourceSize</key>
                <string>{101,5}</string>
                <key>textureRect</key>
                <string>{{233,0},{101,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx_dikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,433}</string>
                <key>spriteSourceSize</key>
                <string>{327,433}</string>
                <key>textureRect</key>
                <string>{{0,101},{327,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx_qipao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{327,101},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>userInfo.png</string>
            <key>size</key>
            <string>{411,534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aada1238d9331ea887a26783f333a5e2:072404fd403ebe36450470cd6edc6290:1cc4dbf80bf9b5bb997ccb2b210b62cc$</string>
            <key>textureFileName</key>
            <string>userInfo.png</string>
        </dict>
    </dict>
</plist>
