<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{291,1},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{581,1},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{871,1},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1161,1},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1451,1},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1741,1},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1,211},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{291,211},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{581,211},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{871,211},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1161,211},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1451,211},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1741,211},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1,421},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{291,421},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{581,421},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{871,421},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1161,421},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1451,421},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1741,421},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>171.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1,631},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{291,631},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{581,631},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{871,631},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1161,631},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1451,631},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1741,631},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1,841},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{291,841},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{581,841},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{871,841},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1161,841},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1451,841},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1741,841},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1,1051},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{291,1051},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{581,1051},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{871,1051},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1161,1051},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1451,1051},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1741,1051},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1,1261},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{291,1261},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{581,1261},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{871,1261},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1161,1261},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1451,1261},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1741,1261},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1,1471},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{291,1471},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{581,1471},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{871,1471},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1161,1471},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,288}</string>
                <key>spriteSourceSize</key>
                <string>{208,288}</string>
                <key>textureRect</key>
                <string>{{1451,1471},{208,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{2030,1680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:613981975cad7865bd02b898c8b2f3e0:7b1107cbb2e482a40c9ee465be66bd03:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
