<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_1_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_16.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_17.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_18.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_19.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_20.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_21.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_22.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,542},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_23.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,542},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_24.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,542},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_25.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,542},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_26.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_27.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,677},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_28.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,677},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_29.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,677},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_30.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,677},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_31.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_32.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,812},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_33.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,812},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_34.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,812},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>4_1_35.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,812},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_card_type_4.png</string>
            <key>size</key>
            <string>{927,947}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4b2f53b93e5dc85e93cda2f96230760$</string>
            <key>textureFileName</key>
            <string>p_card_type_4.png</string>
        </dict>
    </dict>
</plist>
