<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_1_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,137},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,272},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_16.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_17.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_18.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{372,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_19.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{557,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_20.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{742,407},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_21.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>7_1_22.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{187,542},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_card_type_7.png</string>
            <key>size</key>
            <string>{927,677}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:997217afd5dd87ac57a2d90a7327bb15$</string>
            <key>textureFileName</key>
            <string>p_card_type_7.png</string>
        </dict>
    </dict>
</plist>
