<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,63}</string>
                <key>spriteSourceSize</key>
                <string>{112,63}</string>
                <key>textureRect</key>
                <string>{{231,52},{112,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,156}</string>
                <key>spriteSourceSize</key>
                <string>{111,156}</string>
                <key>textureRect</key>
                <string>{{120,52},{111,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,156}</string>
                <key>spriteSourceSize</key>
                <string>{175,156}</string>
                <key>textureRect</key>
                <string>{{171,208},{175,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,156}</string>
                <key>spriteSourceSize</key>
                <string>{168,156}</string>
                <key>textureRect</key>
                <string>{{343,52},{168,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,156}</string>
                <key>spriteSourceSize</key>
                <string>{176,156}</string>
                <key>textureRect</key>
                <string>{{175,364},{176,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,156}</string>
                <key>spriteSourceSize</key>
                <string>{175,156}</string>
                <key>textureRect</key>
                <string>{{0,364},{175,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,156}</string>
                <key>spriteSourceSize</key>
                <string>{171,156}</string>
                <key>textureRect</key>
                <string>{{0,208},{171,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,178}</string>
                <key>spriteSourceSize</key>
                <string>{428,178}</string>
                <key>textureRect</key>
                <string>{{0,520},{428,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_hr_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,39}</string>
                <key>spriteSourceSize</key>
                <string>{60,39}</string>
                <key>textureRect</key>
                <string>{{240,0},{60,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_hr_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{300,0},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_hr_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{360,0},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_hr_num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{420,0},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_hr_num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,39}</string>
                <key>spriteSourceSize</key>
                <string>{60,39}</string>
                <key>textureRect</key>
                <string>{{0,52},{60,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_hr_num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,39}</string>
                <key>spriteSourceSize</key>
                <string>{60,39}</string>
                <key>textureRect</key>
                <string>{{60,52},{60,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{40,0},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{80,0},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{120,0},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{160,0},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{200,0},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fontSp.png</string>
            <key>size</key>
            <string>{511,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:188cea78ee72eaed2692136db119fd40:44e66b561a46d33fe6e29172270cef0c:595b038749d6972c9b5d4d6fd7c29dc2$</string>
            <key>textureFileName</key>
            <string>fontSp.png</string>
        </dict>
    </dict>
</plist>
