<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>H06_T_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{320,0},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{640,0},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{960,0},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1280,0},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1600,0},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{0,240},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{320,240},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{640,240},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{960,240},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1280,240},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1600,240},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{0,480},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{320,480},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{640,480},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{960,480},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1280,480},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1600,480},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{0,720},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{320,720},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{640,720},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{960,720},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1280,720},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1600,720},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{0,960},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{320,960},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{640,960},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{960,960},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1280,960},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1600,960},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{0,1200},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{320,1200},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{640,1200},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{960,1200},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1280,1200},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1600,1200},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{0,1440},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{320,1440},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{640,1440},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{960,1440},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1280,1440},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1600,1440},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{0,1680},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{320,1680},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{640,1680},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{960,1680},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1280,1680},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H06_T_063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1600,1680},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>horse6_0.png</string>
            <key>size</key>
            <string>{1920,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcbf4a8e82b90a373dccba67ca00c163:9e13fb3b64dff11f9219e4db0c574981:1ea92e1424fc8ec949868b3463248c56$</string>
            <key>textureFileName</key>
            <string>horse6_0.png</string>
        </dict>
    </dict>
</plist>
