<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dabao.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,394},{159,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,90}}</string>
                <key>sourceSize</key>
                <string>{159,90}</string>
            </dict>
            <key>fenzhang_pai.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,107},{45,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,63}}</string>
                <key>sourceSize</key>
                <string>{45,63}</string>
            </dict>
            <key>huanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{115,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,63}}</string>
                <key>sourceSize</key>
                <string>{115,63}</string>
            </dict>
            <key>kaishifenpai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{285,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,89}}</string>
                <key>sourceSize</key>
                <string>{285,89}</string>
            </dict>
            <key>zezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{525,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,103}}</string>
                <key>sourceSize</key>
                <string>{525,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dahuanbao.png</string>
            <key>size</key>
            <string>{529,529}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97ee93a7a62b4de49f18095cf254e80b:1/1$</string>
            <key>textureFileName</key>
            <string>dahuanbao.png</string>
        </dict>
    </dict>
</plist>
